/**
 * Staff List CSS Version 25
"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
 */
/********************************************************************************************************
 * ====== LIST START ======
 ********************************************************************************************************/
.abcfslLstCntr, .abcfslSPgCntr, .abcfslSPgCntrM { margin: 0%; width: 100%; }

/* -- LIST SINGLE COLUMN LAYOUT 768px+ 480px 576px -----------------------*/
.abcfslLstCol { -moz-box-sizing: border-box; box-sizing: border-box; display: block; float: left; width: 100%; }
@media ( min-width: 576px ) {
    .abcfslLstCol-12 {width: 100%;}
    .abcfslLstCol-11 {width: 91.666663%;}
    .abcfslLstCol-10 {width: 83.33%;}
    .abcfslLstCol-9 {width: 74.999997%;}
    .abcfslLstCol-8 {width: 66.66666664%;}
    .abcfslLstCol-7 {width: 58.333%;}
    .abcfslLstCol-6 {width: 50%;}
    .abcfslLstCol-5 {width: 41.6665%;}
    .abcfslLstCol-4 {width: 33.33%;}
    .abcfslLstCol-3 {width: 24.99%;}
    .abcfslLstCol-2 {width: 16.66666%;}
    .abcfslLstCol-1 {width: 8.33%;}
}
/* -- IMAGES ---------------------------------------------*/
.abcfslImgCntrLst, .abcfslImgCntrGridA, .abcfslImgCntrGridB,
.abcfslImgCntrIGridA, .abcfslImgCntrIGridB { overflow: hidden; position: relative; cursor: default; }
.abcfslImgCntrLst img, .abcfslImgCntrGridA img, .abcfslImgCntrGridB img, .abcfslImgCntrSPg img,
.abcfslImgCntrIGridA img, .abcfslImgCntrIGridI img {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    position: relative;
}

img.abcfslImgCenter, .abcfslImgCenter img { display: block; margin-left: auto; margin-right: auto }

img.abcfslImgNoBorder, .abcfslImgNoBorder img { border: 0; }
img.abcfslImgBorder1, .abcfslImgBorder1 img { border: 1px solid #e6e6e6; }
img.abcfslImgBorder2, .abcfslImgBorder2 img { border: 1px solid #b3b3b3; }
img.abcfslImgBorder3, .abcfslImgBorder3 img { border: 1px solid #808080; }
img.abcfslImgBorder4, .abcfslImgBorder4 img { border: 1px solid #4d4d4d; }
img.abcfslImgBorder5, .abcfslImgBorder5 img { border: 1px solid #1a1a1a; }

.abcfslRoundedCircle { border-radius: 50%; }

#abcfslAjaxLoader_1, #abcfslAjaxLoader_2, #abcfslAjaxLoader_3 { visibility:hidden; }
img.abcfslAjaxLoaderImg { display: block; margin: 0px auto 10px auto; }

/* -- Item bottom borders & padding ---------------------------------- */
.abcfslBB1Color1 > div {  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #e6e6e6; }
.abcfslBB1Color2 > div, .abcfslLstCntrBB > div {  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #cccccc; }
.abcfslBB1Color3 > div {  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999; }
.abcfslBB1Color4 > div {  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #666666; }
.abcfslBB1Color5 > div {  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #4d4d4d; }
.abcfslBB2Color1 > div {  border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #e6e6e6; }
.abcfslBB2Color2 > div {  border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #cccccc; }
.abcfslBB2Color3 > div {  border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #999999; }
.abcfslBB2Color4 > div {  border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #666666; }
.abcfslBB2Color5 > div {  border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #4d4d4d; }
.abcfslLstCntrBB > div:last-child,
.abcfslBB1Color1 > div:last-child,
.abcfslBB1Color2 > div:last-child,
.abcfslBB1Color3 > div:last-child,
.abcfslBB1Color4 > div:last-child,
.abcfslBB1Color5 > div:last-child,
.abcfslBB2Color1 > div:last-child,
.abcfslBB2Color2 > div:last-child,
.abcfslBB2Color3 > div:last-child,
.abcfslBB2Color4 > div:last-child,
.abcfslBB2Color5 > div:last-child{  border-bottom-width: 0px; }

.abcfslPadBMB10{ padding-bottom: 10px; margin-bottom: 5px; }
.abcfslPadBMB20{ padding-bottom: 20px; margin-bottom: 15px; }
.abcfslPadBMB25{ padding-bottom: 25px; margin-bottom: 20px; }
.abcfslPadBMB30 { padding-bottom: 30px; margin-bottom: 25px; }
.abcfslPadBMB40{ padding-bottom: 40px; margin-bottom: 35px; }
.abcfslPadBMB50{ padding-bottom: 50px; margin-bottom: 45px; }

/*******************************************************
 * ====== LIST END ======
 *******************************************************/

.abcfslGridCntr { margin: 0%; width: 100%; }
/*******************************************************
 * === GRID A START === OLD
 ******************************************************/
.abcfslGridRow { clear: both;padding: 0px;margin: 0px; }
.abcfslGridCol { box-sizing: border-box; display: block; width: 100%; }

@media (min-width: 768px) {
    .abcfslGridCol { float: left; }
    .abcfslGridCol_2 { width: 50% }
    .abcfslGridCol_3 { width: 33.33% }
    .abcfslGridCol_4 { width: 25% }
    .abcfslGridCol_5 { width: 20% }
    .abcfslGridCol_6 { width: 16.66666667% }
    .abcfslGridCol_7 { width: 14.28% }
    .abcfslGridCol_8 { width: 12.5%; }
}
/*******************************************************/
/* === GRID A END ===
/********************************************************/
/*******************************************************/
/* === GRID B START ===
/**************************** 480px****************************/
.abcfslGCol {  display: block; width: 100%; box-sizing: border-box; min-height: 1px; }
.abcfslGridItemsCntr::after { display: table; clear: both; content: ""; }

@media (min-width: 576px) {
    .abcfslGCol_sm_2,
    .abcfslGCol_sm_3,
    .abcfslGCol_sm_4,
    .abcfslGCol_sm_5,
    .abcfslGCol_sm_6,
    .abcfslGCol_sm_7,
    .abcfslGCol_sm_8 { float: left; }

    .abcfslGCol_sm_1 { width: 100%; }
    .abcfslGCol_sm_2 { width: 50%; }
    .abcfslGCol_sm_3 { width: 33.333%; }
    .abcfslGCol_sm_4 { width: 25%; }
    .abcfslGCol_sm_5 { width: 20%; }
    .abcfslGCol_sm_6 { width: 16.66666666%; }
    .abcfslGCol_sm_7 { width: 14.28%; }
    .abcfslGCol_sm_8 { width: 12.5%; }

    .abcfslGCol_xx_2:nth-child(2n+1),
    .abcfslGCol_xx_3:nth-child(3n+1),
    .abcfslGCol_xx_4:nth-child(4n+1),
    .abcfslGCol_xx_5:nth-child(5n+1),
    .abcfslGCol_xx_6:nth-child(6n+1),
    .abcfslGCol_xx_7:nth-child(7n+1),
    .abcfslGCol_xx_8:nth-child(8n+1),
    .abcfslGCol_xx_9:nth-child(9n+1),
    .abcfslGCol_xx_10:nth-child(10n+1),
    .abcfslGCol_xx_11:nth-child(11n+1),
    .abcfslGCol_xx_12:nth-child(12n+1),

    .abcfslGCol_xl_2:nth-child(2n+1),
    .abcfslGCol_xl_3:nth-child(3n+1),
    .abcfslGCol_xl_4:nth-child(4n+1),
    .abcfslGCol_xl_5:nth-child(5n+1),
    .abcfslGCol_xl_6:nth-child(6n+1),
    .abcfslGCol_xl_7:nth-child(7n+1),
    .abcfslGCol_xl_8:nth-child(8n+1),
    .abcfslGCol_xl_9:nth-child(9n+1),
    .abcfslGCol_xl_10:nth-child(10n+1),
    .abcfslGCol_xl_11:nth-child(11n+1),
    .abcfslGCol_xl_12:nth-child(12n+1),

    .abcfslGCol_lg_2:nth-child(2n+1),
    .abcfslGCol_lg_3:nth-child(3n+1),
    .abcfslGCol_lg_4:nth-child(4n+1),
    .abcfslGCol_lg_5:nth-child(5n+1),
    .abcfslGCol_lg_6:nth-child(6n+1),
    .abcfslGCol_lg_7:nth-child(7n+1),
    .abcfslGCol_lg_8:nth-child(8n+1),

    .abcfslGCol_md_2:nth-child(2n+1),
    .abcfslGCol_md_3:nth-child(3n+1),
    .abcfslGCol_md_4:nth-child(4n+1),
    .abcfslGCol_md_5:nth-child(5n+1),
    .abcfslGCol_md_6:nth-child(6n+1),
    .abcfslGCol_md_7:nth-child(7n+1),
    .abcfslGCol_md_8:nth-child(8n+1){ clear: none; }

    .abcfslGCol_sm_2:nth-child(2n+1),
    .abcfslGCol_sm_3:nth-child(3n+1),
    .abcfslGCol_sm_4:nth-child(4n+1),
    .abcfslGCol_sm_5:nth-child(5n+1),
    .abcfslGCol_sm_6:nth-child(6n+1),
    .abcfslGCol_sm_7:nth-child(7n+1),
    .abcfslGCol_sm_8:nth-child(8n+1) { clear: left; }
}

@media (min-width: 768px) {
    .abcfslGCol_md_2,
    .abcfslGCol_md_3,
    .abcfslGCol_md_4,
    .abcfslGCol_md_5,
    .abcfslGCol_md_6,
    .abcfslGCol_md_7,
    .abcfslGCol_md_8 { float: left; }

    .abcfslGCol_md_1 { width: 100%; }
    .abcfslGCol_md_2 { width: 50%; }
    .abcfslGCol_md_3 { width: 33.333%; }
    .abcfslGCol_md_4 { width: 25%; }
    .abcfslGCol_md_5 { width: 20%; }
    .abcfslGCol_md_6 { width: 16.66666666%; }
    .abcfslGCol_md_7 { width: 14.28%; }
    .abcfslGCol_md_8 { width: 12.5%; }

    .abcfslGCol_xx_2:nth-child(2n+1),
    .abcfslGCol_xx_3:nth-child(3n+1),
    .abcfslGCol_xx_4:nth-child(4n+1),
    .abcfslGCol_xx_5:nth-child(5n+1),
    .abcfslGCol_xx_6:nth-child(6n+1),
    .abcfslGCol_xx_7:nth-child(7n+1),
    .abcfslGCol_xx_8:nth-child(8n+1),
    .abcfslGCol_xx_9:nth-child(9n+1),
    .abcfslGCol_xx_10:nth-child(10n+1),
    .abcfslGCol_xx_11:nth-child(11n+1),
    .abcfslGCol_xx_12:nth-child(12n+1),

    .abcfslGCol_xl_2:nth-child(2n+1),
    .abcfslGCol_xl_3:nth-child(3n+1),
    .abcfslGCol_xl_4:nth-child(4n+1),
    .abcfslGCol_xl_5:nth-child(5n+1),
    .abcfslGCol_xl_6:nth-child(6n+1),
    .abcfslGCol_xl_7:nth-child(7n+1),
    .abcfslGCol_xl_8:nth-child(8n+1),
    .abcfslGCol_xl_9:nth-child(9n+1),
    .abcfslGCol_xl_10:nth-child(10n+1),
    .abcfslGCol_xl_11:nth-child(11n+1),
    .abcfslGCol_xl_12:nth-child(12n+1),

    .abcfslGCol_lg_2:nth-child(2n+1),
    .abcfslGCol_lg_3:nth-child(3n+1),
    .abcfslGCol_lg_4:nth-child(4n+1),
    .abcfslGCol_lg_5:nth-child(5n+1),
    .abcfslGCol_lg_6:nth-child(6n+1),
    .abcfslGCol_lg_7:nth-child(7n+1),
    .abcfslGCol_lg_8:nth-child(8n+1),

    .abcfslGCol_sm_2:nth-child(2n+1),
    .abcfslGCol_sm_3:nth-child(3n+1),
    .abcfslGCol_sm_4:nth-child(4n+1),
    .abcfslGCol_sm_5:nth-child(5n+1),
    .abcfslGCol_sm_6:nth-child(6n+1),
    .abcfslGCol_sm_7:nth-child(7n+1),
    .abcfslGCol_sm_8:nth-child(8n+1){ clear: none; }

    .abcfslGCol_md_2:nth-child(2n+1),
    .abcfslGCol_md_3:nth-child(3n+1),
    .abcfslGCol_md_4:nth-child(4n+1),
    .abcfslGCol_md_5:nth-child(5n+1),
    .abcfslGCol_md_6:nth-child(6n+1),
    .abcfslGCol_md_7:nth-child(7n+1),
    .abcfslGCol_md_8:nth-child(8n+1) { clear: left; }
}

@media (min-width: 992px) {
    .abcfslGCol_lg_2,
    .abcfslGCol_lg_3,
    .abcfslGCol_lg_4,
    .abcfslGCol_lg_5,
    .abcfslGCol_lg_6,
    .abcfslGCol_lg_7,
    .abcfslGCol_lg_8 { float: left; }

    .abcfslGCol_lg_1 { width: 100%; }
    .abcfslGCol_lg_2 { width: 50%; }
    .abcfslGCol_lg_3 { width: 33.333%; }
    .abcfslGCol_lg_4 { width: 25%; }
    .abcfslGCol_lg_5 { width: 20%; }
    .abcfslGCol_lg_6 { width: 16.66666666%; }
    .abcfslGCol_lg_7 { width: 14.28%; }
    .abcfslGCol_lg_8 { width: 12.5%; }

    .abcfslGCol_xx_2:nth-child(2n+1),
    .abcfslGCol_xx_3:nth-child(3n+1),
    .abcfslGCol_xx_4:nth-child(4n+1),
    .abcfslGCol_xx_5:nth-child(5n+1),
    .abcfslGCol_xx_6:nth-child(6n+1),
    .abcfslGCol_xx_7:nth-child(7n+1),
    .abcfslGCol_xx_8:nth-child(8n+1),
    .abcfslGCol_xx_9:nth-child(9n+1),
    .abcfslGCol_xx_10:nth-child(10n+1),
    .abcfslGCol_xx_11:nth-child(11n+1),
    .abcfslGCol_xx_12:nth-child(12n+1),

    .abcfslGCol_xl_2:nth-child(2n+1),
    .abcfslGCol_xl_3:nth-child(3n+1),
    .abcfslGCol_xl_4:nth-child(4n+1),
    .abcfslGCol_xl_5:nth-child(5n+1),
    .abcfslGCol_xl_6:nth-child(6n+1),
    .abcfslGCol_xl_7:nth-child(7n+1),
    .abcfslGCol_xl_8:nth-child(8n+1),
    .abcfslGCol_xl_9:nth-child(9n+1),
    .abcfslGCol_xl_10:nth-child(10n+1),
    .abcfslGCol_xl_11:nth-child(11n+1),
    .abcfslGCol_xl_12:nth-child(12n+1),

    .abcfslGCol_md_2:nth-child(2n+1),
    .abcfslGCol_md_3:nth-child(3n+1),
    .abcfslGCol_md_4:nth-child(4n+1),
    .abcfslGCol_md_5:nth-child(5n+1),
    .abcfslGCol_md_6:nth-child(6n+1),
    .abcfslGCol_md_7:nth-child(7n+1),
    .abcfslGCol_md_8:nth-child(8n+1),

    .abcfslGCol_sm_2:nth-child(2n+1),
    .abcfslGCol_sm_3:nth-child(3n+1),
    .abcfslGCol_sm_4:nth-child(4n+1),
    .abcfslGCol_sm_5:nth-child(5n+1),
    .abcfslGCol_sm_6:nth-child(6n+1),
    .abcfslGCol_sm_7:nth-child(7n+1),
    .abcfslGCol_sm_8:nth-child(8n+1){ clear: none; }

    .abcfslGCol_lg_2:nth-child(2n+1),
    .abcfslGCol_lg_3:nth-child(3n+1),
    .abcfslGCol_lg_4:nth-child(4n+1),
    .abcfslGCol_lg_5:nth-child(5n+1),
    .abcfslGCol_lg_6:nth-child(6n+1),
    .abcfslGCol_lg_7:nth-child(7n+1),
    .abcfslGCol_lg_8:nth-child(8n+1) { clear: left; }
}

@media (min-width: 1200px) {
    .abcfslGCol_xl_2,
    .abcfslGCol_xl_3,
    .abcfslGCol_xl_4,
    .abcfslGCol_xl_5,
    .abcfslGCol_xl_6,
    .abcfslGCol_xl_7,
    .abcfslGCol_xl_8,
    .abcfslGCol_xl_9,
    .abcfslGCol_xl_10,
    .abcfslGCol_xl_11,
    .abcfslGCol_xl_12{ float: left; }

    .abcfslGCol_xl_1 { width: 100%; }
    .abcfslGCol_xl_2 { width: 50%; }
    .abcfslGCol_xl_3 { width: 33.333%; }
    .abcfslGCol_xl_4 { width: 25%; }
    .abcfslGCol_xl_5 { width: 20%; }
    .abcfslGCol_xl_6 { width: 16.66666666%; }
    .abcfslGCol_xl_7 { width: 14.28%; }
    .abcfslGCol_xl_8 { width: 12.5%; }
    .abcfslGCol_xl_9 { width: 11.11% }
    .abcfslGCol_xl_10 { width: 10% }
    .abcfslGCol_xl_11 { width: 9.090% }
    .abcfslGCol_xl_12 { width: 8.333% }

    .abcfslGCol_xx_2:nth-child(2n+1),
    .abcfslGCol_xx_3:nth-child(3n+1),
    .abcfslGCol_xx_4:nth-child(4n+1),
    .abcfslGCol_xx_5:nth-child(5n+1),
    .abcfslGCol_xx_6:nth-child(6n+1),
    .abcfslGCol_xx_7:nth-child(7n+1),
    .abcfslGCol_xx_8:nth-child(8n+1),
    .abcfslGCol_xx_9:nth-child(9n+1),
    .abcfslGCol_xx_10:nth-child(10n+1),
    .abcfslGCol_xx_11:nth-child(11n+1),
    .abcfslGCol_xx_12:nth-child(12n+1),

    .abcfslGCol_lg_2:nth-child(2n+1),
    .abcfslGCol_lg_3:nth-child(3n+1),
    .abcfslGCol_lg_4:nth-child(4n+1),
    .abcfslGCol_lg_5:nth-child(5n+1),
    .abcfslGCol_lg_6:nth-child(6n+1),
    .abcfslGCol_lg_7:nth-child(7n+1),
    .abcfslGCol_lg_8:nth-child(8n+1),

    .abcfslGCol_md_2:nth-child(2n+1),
    .abcfslGCol_md_3:nth-child(3n+1),
    .abcfslGCol_md_4:nth-child(4n+1),
    .abcfslGCol_md_5:nth-child(5n+1),
    .abcfslGCol_md_6:nth-child(6n+1),
    .abcfslGCol_md_7:nth-child(7n+1),
    .abcfslGCol_md_8:nth-child(8n+1),

    .abcfslGCol_sm_2:nth-child(2n+1),
    .abcfslGCol_sm_3:nth-child(3n+1),
    .abcfslGCol_sm_4:nth-child(4n+1),
    .abcfslGCol_sm_5:nth-child(5n+1),
    .abcfslGCol_sm_6:nth-child(6n+1),
    .abcfslGCol_sm_7:nth-child(7n+1),
    .abcfslGCol_sm_8:nth-child(8n+1){ clear: none; }

    .abcfslGCol_xl_2:nth-child(2n+1),
    .abcfslGCol_xl_3:nth-child(3n+1),
    .abcfslGCol_xl_4:nth-child(4n+1),
    .abcfslGCol_xl_5:nth-child(5n+1),
    .abcfslGCol_xl_6:nth-child(6n+1),
    .abcfslGCol_xl_7:nth-child(7n+1),
    .abcfslGCol_xl_8:nth-child(8n+1),
    .abcfslGCol_xl_9:nth-child(9n+1),
    .abcfslGCol_xl_10:nth-child(10n+1),
    .abcfslGCol_xl_11:nth-child(11n+1),
    .abcfslGCol_xl_12:nth-child(12n+1){ clear: left; }
}

@media (min-width: 2000px) {
    .abcfslGCol_xx_2,
    .abcfslGCol_xx_3,
    .abcfslGCol_xx_4,
    .abcfslGCol_xx_5,
    .abcfslGCol_xx_6,
    .abcfslGCol_xx_7,
    .abcfslGCol_xx_8,
    .abcfslGCol_xx_9,
    .abcfslGCol_xx_10,
    .abcfslGCol_xx_11,
    .abcfslGCol_xx_12{ float: left; }

    .abcfslGCol_xx_1 { width: 100%; }
    .abcfslGCol_xx_2 { width: 50%; }
    .abcfslGCol_xx_3 { width: 33.333%; }
    .abcfslGCol_xx_4 { width: 25%; }
    .abcfslGCol_xx_5 { width: 20%; }
    .abcfslGCol_xx_6 { width: 16.66666666%; }
    .abcfslGCol_xx_7 { width: 14.28%; }
    .abcfslGCol_xx_8 { width: 12.5%; }
    .abcfslGCol_xx_9 { width: 11.11% }
    .abcfslGCol_xx_10 { width: 10% }
    .abcfslGCol_xx_11 { width: 9.090% }
    .abcfslGCol_xx_12 { width: 8.333% }

    .abcfslGCol_xl_2:nth-child(2n+1),
    .abcfslGCol_xl_3:nth-child(3n+1),
    .abcfslGCol_xl_4:nth-child(4n+1),
    .abcfslGCol_xl_5:nth-child(5n+1),
    .abcfslGCol_xl_6:nth-child(6n+1),
    .abcfslGCol_xl_7:nth-child(7n+1),
    .abcfslGCol_xl_8:nth-child(8n+1),
    .abcfslGCol_xl_9:nth-child(9n+1),
    .abcfslGCol_xl_10:nth-child(10n+1),
    .abcfslGCol_xl_11:nth-child(11n+1),
    .abcfslGCol_xl_12:nth-child(12n+1),

    .abcfslGCol_lg_2:nth-child(2n+1),
    .abcfslGCol_lg_3:nth-child(3n+1),
    .abcfslGCol_lg_4:nth-child(4n+1),
    .abcfslGCol_lg_5:nth-child(5n+1),
    .abcfslGCol_lg_6:nth-child(6n+1),
    .abcfslGCol_lg_7:nth-child(7n+1),
    .abcfslGCol_lg_8:nth-child(8n+1),

    .abcfslGCol_md_2:nth-child(2n+1),
    .abcfslGCol_md_3:nth-child(3n+1),
    .abcfslGCol_md_4:nth-child(4n+1),
    .abcfslGCol_md_5:nth-child(5n+1),
    .abcfslGCol_md_6:nth-child(6n+1),
    .abcfslGCol_md_7:nth-child(7n+1),
    .abcfslGCol_md_8:nth-child(8n+1),

    .abcfslGCol_sm_2:nth-child(2n+1),
    .abcfslGCol_sm_3:nth-child(3n+1),
    .abcfslGCol_sm_4:nth-child(4n+1),
    .abcfslGCol_sm_5:nth-child(5n+1),
    .abcfslGCol_sm_6:nth-child(6n+1),
    .abcfslGCol_sm_7:nth-child(7n+1),
    .abcfslGCol_sm_8:nth-child(8n+1){ clear: none; }

    .abcfslGCol_xx_2:nth-child(2n+1),
    .abcfslGCol_xx_3:nth-child(3n+1),
    .abcfslGCol_xx_4:nth-child(4n+1),
    .abcfslGCol_xx_5:nth-child(5n+1),
    .abcfslGCol_xx_6:nth-child(6n+1),
    .abcfslGCol_xx_7:nth-child(7n+1),
    .abcfslGCol_xx_8:nth-child(8n+1),
    .abcfslGCol_xx_9:nth-child(9n+1),
    .abcfslGCol_xx_10:nth-child(10n+1),
    .abcfslGCol_xx_11:nth-child(11n+1),
    .abcfslGCol_xx_12:nth-child(12n+1){ clear: left; }
}
/** NEW GRID END ****************************************/

/** SOCIAL *********************************************/
.abcfslSocialIconsA a { display:inline; padding: 0; border: none; }
.abcfslSocialIconsA a img { display:inline; padding: 3px 0 0 0; border: none; }
/** SOCIAL END ****************************************/

/* ** MENU *********************************** */
.abcfslFItemsCntr ul { margin: 0; padding: 0; list-style-type: none; }
.abcfslFItemsCntr ul li { display: inline-block; white-space: nowrap; line-height: 18px; }
.abcfslFItemsCntr ul li a { background: none; text-decoration: none; padding-top: 3px; padding-bottom: 3px; border: none; }
.abcfslFItemMLR5 ul li a { padding-right: 5px; padding-left: 5px; }
.abcfslFItemMLR10 ul li a { padding-right: 10px; padding-left: 10px; }
.abcfslFItemMLR15 ul li a { padding-right: 15px; padding-left: 15px; }
.abcfslFItemMLR20 ul li a { padding-right: 20px; padding-left: 20px; }
.abcfslFItemColor1 ul li a { color: #8c8c8c; }
.abcfslFItemColor2 ul li a { color: #595959; }
.abcfslFItemColor3 ul li a { color: #262626; }
.abcfslFItemsCntr ul li a.abcfslFActive1 { border-bottom: 3px solid #808080; text-decoration: none; }
.abcfslFItemsCntr ul li a.abcfslFActive2 { background-color: #d9d9d9; color: #404040; }
.abcfslUpper { text-transform: uppercase; }
/* ** MENU END ******************************* */

/*******************************************************
 * ====== Custom styles ======
 *******************************************************/

/** FONTS START *****************************************************/
/*--36 32 28 24 20 18 16 14 13 12 --*/
h1.abcfslF36_7, h2.abcfslF36_7, h3.abcfslF36_7, h4.abcfslF36_7, h5.abcfslF36_7,
h1.abcfslF32_7, h2.abcfslF32_7, h3.abcfslF32_7, h4.abcfslF32_7, h5.abcfslF32_7,
h1.abcfslF28_7, h2.abcfslF28_7, h3.abcfslF28_7, h4.abcfslF28_7, h5.abcfslF28_7,
h1.abcfslF24_7, h2.abcfslF24_7, h3.abcfslF24_7, h4.abcfslF24_7, h5.abcfslF24_7,
h1.abcfslF20_7, h2.abcfslF20_7, h3.abcfslF20_7, h4.abcfslF20_7, h5.abcfslF20_7,
h1.abcfslF18_7, h2.abcfslF18_7, h3.abcfslF18_7, h4.abcfslF18_7, h5.abcfslF18_7
h1.abcfslF16_7, h2.abcfslF16_7, h3.abcfslF16_7, h4.abcfslF16_7, h5.abcfslF16_7,
h1.abcfslF14_7, h2.abcfslF14_7, h3.abcfslF14_7, h4.abcfslF14_7, h5.abcfslF14_7,
h1.abcfslF13_7, h2.abcfslF13_7, h3.abcfslF13_7, h4.abcfslF13_7, h5.abcfslF13_7,
h1.abcfslF12_7, h2.abcfslF12_7, h3.abcfslF12_7, h4.abcfslF12_7, h5.abcfslF12_7,
p.abcfslF36_7, p.abcfslF32_7, p.abcfslF28_7, p.abcfslF24_7, p.abcfslF20_7, p.abcfslF18_7, p.abcfslF16_7, p.abcfslF14_7, p.abcfslF13_7, p.abcfslF12_7,
p.abcfslF36_7, .abcfslF32_7, .abcfslF28_7, .abcfslF24_7, .abcfslF20_7, .abcfslF18_7, .abcfslF16_7, .abcfslF14_7, .abcfslF13_7, .abcfslF12_7{ font-weight: 700; font-style: normal; margin-bottom: 0; padding:0; border: none; }


h1.abcfslF36_6, h2.abcfslF36_6, h3.abcfslF36_6, h4.abcfslF36_6, h5.abcfslF36_6,
h1.abcfslF32_6, h2.abcfslF32_6, h3.abcfslF32_6, h4.abcfslF32_6, h5.abcfslF32_6,
h1.abcfslF28_6, h2.abcfslF28_6, h3.abcfslF28_6, h4.abcfslF28_6, h5.abcfslF28_6,
h1.abcfslF24_6, h2.abcfslF24_6, h3.abcfslF24_6, h4.abcfslF24_6, h5.abcfslF24_6,
h1.abcfslF20_6, h2.abcfslF20_6, h3.abcfslF20_6, h4.abcfslF20_6, h5.abcfslF20_6,
h1.abcfslF18_6, h2.abcfslF18_6, h3.abcfslF18_6, h4.abcfslF18_6, h5.abcfslF18_6,
h1.abcfslF16_6, h2.abcfslF16_6, h3.abcfslF16_6, h4.abcfslF16_6, h5.abcfslF16_6,
h1.abcfslF14_6, h2.abcfslF14_6, h3.abcfslF14_6, h4.abcfslF14_6, h5.abcfslF14_6,
h1.abcfslF13_6, h2.abcfslF13_6, h3.abcfslF13_6, h4.abcfslF13_6, h5.abcfslF13_6,
h1.abcfslF12_6, h2.abcfslF12_6, h3.abcfslF12_6, h4.abcfslF12_6, h5.abcfslF12_6,
p.abcfslF36_6, p.abcfslF32_6, p.abcfslF28_6, p.abcfslF24_6, p.abcfslF20_6, p.abcfslF18_6, p.abcfslF16_6, p.abcfslF14_6, p.abcfslF13_6, p.abcfslF12_6,
.abcfslF36_6, .abcfslF32_6, .abcfslF28_6, .abcfslF24_6, .abcfslF20_6, .abcfslF18_6, .abcfslF16_6, .abcfslF14_6, .abcfslF13_6, .abcfslF12_6 { font-weight: 600; font-style: normal; margin-bottom: 0; padding:0; border: none; }

p.abcfslF36, p.abcfslF32, p.abcfslF28, p.abcfslF24, p.abcfslF20, p.abcfslF18, p.abcfslF16, p.abcfslF14, p.abcfslF13, p.abcfslF12,
.abcfslF36, .abcfslF32, .abcfslF28, .abcfslF24, .abcfslF20, .abcfslF18, .abcfslF16, .abcfslF14, .abcfslF13, .abcfslF12 { font-weight: 400; font-style: normal; margin-bottom: 0; padding:0; border: none; }

h1.abcfslF36_7, h2.abcfslF36_7, h3.abcfslF36_7, h4.abcfslF36_7, h5.abcfslF36_7,
h1.abcfslF36_6, h2.abcfslF36_6, h3.abcfslF36_6, h4.abcfslF36_6, h5.abcfslF36_6,
p.abcfslF36_7, p.abcfslF36_6, p.abcfslF36,
.abcfslF36_7, .abcfslF36_6, .abcfslF36 { font-size: 2.25rem; }

h1.abcfslF32_7, h2.abcfslF32_7, h3.abcfslF32_7, h4.abcfslF32_7, h5.abcfslF32_7,
h1.abcfslF32_6, h2.abcfslF32_6, h3.abcfslF32_6, h4.abcfslF32_6, h5.abcfslF32_6,
p.abcfslF32_7, p.abcfslF32_6, p.abcfslF32,
.abcfslF32_7, .abcfslF32_6, .abcfslF32 { font-size: 2rem; }

h1.abcfslF28_7, h2.abcfslF28_7, h3.abcfslF28_7, h4.abcfslF28_7, h5.abcfslF28_7,
h1.abcfslF28_6, h2.abcfslF28_6, h3.abcfslF28_6, h4.abcfslF28_6, h5.abcfslF28_6,
p.abcfslF28_7, p.abcfslF28_6, p.abcfslF28,
.abcfslF28_7, .abcfslF28_6, .abcfslF28 { font-size: 1.75rem; }

h1.abcfslF24_7, h2.abcfslF24_7, h3.abcfslF24_7, h4.abcfslF24_7, h5.abcfslF24_7,
h1.abcfslF24_6, h2.abcfslF24_6, h3.abcfslF24_6, h4.abcfslF24_6, h5.abcfslF24_6,
p.abcfslF24_7, p.abcfslF24_6, p.abcfslF24,
.abcfslF24_7, .abcfslF24_6, .abcfslF24 { font-size: 1.5625rem; }

h1.abcfslF20_7, h2.abcfslF20_7, h3.abcfslF20_7, h4.abcfslF20_7, h5.abcfslF20_7,
h1.abcfslF20_6, h2.abcfslF20_6, h3.abcfslF20_6, h4.abcfslF20_6, h5.abcfslF20_6,
p.abcfslF20_7, p.abcfslF20_6, p.abcfslF20,
.abcfslF20_7, .abcfslF20_6, .abcfslF20 { font-size: 1.25rem; }

h1.abcfslF18_7, h2.abcfslF18_7, h3.abcfslF18_7, h4.abcfslF18_7, h5.abcfslF18_7,
h1.abcfslF18_6, h2.abcfslF18_6, h3.abcfslF18_6, h4.abcfslF18_6, h5.abcfslF18_6,
p.abcfslF18_7, p.abcfslF18_6, p.abcfslF18,
.abcfslF18_7, .abcfslF18_6, .abcfslF18 { font-size: 1.125rem; }

h1.abcfslF16_7, h2.abcfslF16_7, h3.abcfslF16_7, h4.abcfslF16_7, h5.abcfslF16_7,
h1.abcfslF16_6, h2.abcfslF16_6, h3.abcfslF16_6, h4.abcfslF16_6, h5.abcfslF16_6,
p.abcfslF16_7, p.abcfslF16_6, p.abcfslF16,
.abcfslF16_7, .abcfslF16_6, .abcfslF16 { font-size: 1rem; }

h1.abcfslF14_7, h2.abcfslF14_7, h3.abcfslF14_7, h4.abcfslF14_7, h5.abcfslF14_7,
h1.abcfslF14_6, h2.abcfslF14_6, h3.abcfslF14_6, h4.abcfslF14_6, h5.abcfslF14_6,
p.abcfslF14_7, p.abcfslF14_6, p.abcfslF14,
.abcfslF14_7, .abcfslF14_6, .abcfslF14 { font-size: 0.875rem; }

h1.abcfslF13_7, h2.abcfslF13_7, h3.abcfslF13_7, h4.abcfslF13_7, h5.abcfslF13_7,
h1.abcfslF13_6, h2.abcfslF13_6, h3.abcfslF13_6, h4.abcfslF13_6, h5.abcfslF13_6,
p.abcfslF13_7, p.abcfslF13_6, p.abcfslF13,
.abcfslF13_7, .abcfslF13_6, .abcfslF13 { font-size: 0.8125rem; }

h1.abcfslF12_7, h2.abcfslF12_7, h3.abcfslF12_7, h4.abcfslF12_7, h5.abcfslF12_7,
h1.abcfslF12_6, h2.abcfslF12_6, h3.abcfslF12_6, h4.abcfslF12_6, h5.abcfslF12_6,
p.abcfslF12_7, p.abcfslF12_6, p.abcfslF12,
.abcfslF12_7, .abcfslF12_6, .abcfslF12 { font-size: 0.75rem; }

.abcfslFS1 { font-size: 1px; }
.abcfslFS12 { font-size: 12px; }
.abcfslFS13 { font-size: 13px; }
.abcfslFS14 { font-size: 14px; }
.abcfslFS15 { font-size: 15px; }
.abcfslFS16 { font-size: 16px; }
.abcfslFS18 { font-size: 18px; }
.abcfslFS20 { font-size: 20px; }
.abcfslFS24 { font-size: 24px; }
.abcfslFS28 { font-size: 28px; }
.abcfslFS32 { font-size: 32px; }

.abcfslFW400 { font-weight: 400; }
.abcfslFW600 { font-weight: 600; }
.abcfslFW700 { font-weight: 700; }
.abcfslFF { font-family: 'Open Sans' , Arial, sans-serif; font-style: normal; padding-bottom: 0; border-bottom: none; }
.abcfslFFV { font-family: Verdana, Geneva, Arial, sans-serif; font-style: normal; padding-bottom: 0; border-bottom: none; }

/*-- FONT COLORS ---*/
.abcfslColor1 { color: #8c8c8c;}
.abcfslColor2 { color: #595959;}
.abcfslColor3 { color: #262626;}
/*== FONTS END ===================*/

/*-- Vertical Lists ------------*/
.abcfslLstCntrN { margin-left: 0px; }
.abcfslLstCntrN ul { margin-left: 10px;}
.abcfslLstCntrN li { margin: 0; list-style-type: none; padding-left: 2px; padding-top: 6px; }
.abcfslLstTxtCntr { padding-left: 10px; }

/*-- Text Container ----------------------*/
.abcfsTxtCntrLst, .abcfslTxtCntrGridB, .abcfslTxtCntrSPg,
.abcfslTxtCntrIGridB, .abcfslTxtCntrIGridB { padding-left: 10px; }

/*-- Margins ----------------------------*/
.abcfslMT0{ margin-top: 0; }
.abcfslMT2{ margin-top: 2px; }
.abcfslMT3{ margin-top: 3px; }
.abcfslMT4{ margin-top: 4px; }
.abcfslMT5{ margin-top: 5px; }
.abcfslMT10{ margin-top: 10px; }
.abcfslMT15{ margin-top: 15px;}
.abcfslMT20{ margin-top: 20px;}
.abcfslMT25{ margin-top: 25px;}
.abcfslMT30{ margin-top: 30px;}
.abcfslMT40{ margin-top: 40px;}
.abcfslMT50{ margin-top: 50px;}

.abcfslMTPc1{ margin-top: 1%; }
.abcfslMTPc2{ margin-top: 2%; }
.abcfslMTPc3{ margin-top: 3%; }
.abcfslMTPc4{ margin-top: 4%; }
.abcfslMTPc5{ margin-top: 5%; }
.abcfslMTPc6{ margin-top: 6%; }
.abcfslMTPc7{ margin-top: 7%; }
.abcfslMTPc8{ margin-top: 8%; }
.abcfslMTPc9{ margin-top: 9%; }
.abcfslMTPc10{ margin-top: 10%; }

.abcfslMR0{ margin-right: 0; }
.abcfslMR5{ margin-right: 5px; }
.abcfslMR10{ margin-right: 10px; }
.abcfslMR15{ margin-right: 15px;}
.abcfslMR20{ margin-right: 20px;}
.abcfslMR25{ margin-right: 25px;}
.abcfslMR30{ margin-right: 30px;}
.abcfslMR40{ margin-right: 40px;}
.abcfslMR50{ margin-right: 50px;}

.abcfslML5{ margin-left: 5px; }
.abcfslML10{ margin-left: 10px; }
.abcfslML15{ margin-left: 15px;}
.abcfslML20{ margin-left: 20px;}
.abcfslML25{ margin-left: 25px;}
.abcfslML30{ margin-left: 30px;}
.abcfslML40{ margin-left: 40px;}
.abcfslML50{ margin-left: 50px; }
.abcfslMLPc1 { margin-left: 1%; }
.abcfslMLPc2 { margin-left: 2%; }
.abcfslMLPc3 { margin-left: 3%; }
.abcfslMLPc4 { margin-left: 4%; }
.abcfslMLPc5 { margin-left: 5%; }
.abcfslMLPc6 { margin-left: 6%; }
.abcfslMLPc7 { margin-left: 7%; }
.abcfslMLPc8 { margin-left: 8%; }
.abcfslMLPc9 { margin-left: 9%; }
.abcfslMLPc10 { margin-left: 10%; }

.abcfslMB0{ margin-bottom: 0; }
.abcfslsMB5{ margin-bottom: 5px; }
.abcfslsMB10{ margin-bottom: 10px; }
.abcfslMB15{ margin-bottom: 15px; }
.abcfslMB20{ margin-bottom: 20px; }
.abcfslMB25{ margin-bottom: 25px; }
.abcfslMB30{ margin-bottom: 30px; }
.abcfslMB40{ margin-bottom: 40px; }
.abcfslMB50{ margin-bottom: 50px; }
.abcfslMB60{ margin-bottom: 60px; }
.abcfslMB70{ margin-bottom: 70px; }
.abcfslMB80{ margin-bottom: 80px; }
.abcfslMB90{ margin-bottom: 90px; }
.abcfslMB100{ margin-bottom: 100px; }
.abcfslMB200{ margin-bottom: 200px; }

.abcfslMBPc1{ margin-bottom: 1%; }
.abcfslMBPc2{ margin-bottom: 2%; }
.abcfslMBPc3{ margin-bottom: 3%; }
.abcfslMBPc4{ margin-bottom: 4%; }
.abcfslMBPc5{ margin-bottom: 5%; }
.abcfslMBPc6{ margin-bottom: 6%; }
.abcfslMBPc7{ margin-bottom: 7%; }
.abcfslMBPc8{ margin-bottom: 8%; }
.abcfslMBPc9{ margin-bottom: 9%; }
.abcfslMBPc10{ margin-bottom: 10%; }

.abcfslMLRPc1 { margin-left: 1%; margin-right: 1%; }
.abcfslMLRPc2 { margin-left: 2%; margin-right: 2%; }
.abcfslMLRPc3 { margin-left: 3%; margin-right: 3%; }
.abcfslMLRPc4 { margin-left: 4%; margin-right: 4%; }
.abcfslMLRPc5 { margin-left: 5%; margin-right: 5%; }
.abcfslMLRPc6 { margin-left: 6%; margin-right: 6%; }
.abcfslMLRPc7 { margin-left: 7%; margin-right: 7%; }
.abcfslMLRPc8 { margin-left: 8%; margin-right: 8%; }
.abcfslMLRPc9 { margin-left: 9%; margin-right: 9%; }
.abcfslMLRPc10 { margin-left: 10%; margin-right: 10%; }
.abcfslMLRPc11 { margin-left: 11%; margin-right: 11%; }
.abcfslMLRPc12 { margin-left: 12%; margin-right: 12%; }
.abcfslMLRPc13 { margin-left: 13%; margin-right: 13%; }
.abcfslMLRPc14 { margin-left: 14%; margin-right: 14%; }
.abcfslMLRPc15 { margin-left: 15%; margin-right: 15%; }
.abcfslMLRPc16 { margin-left: 16%; margin-right: 16%; }
.abcfslMLRPc17 { margin-left: 17%; margin-right: 17%; }
.abcfslMLRPc18 { margin-left: 18%; margin-right: 18%; }
.abcfslMLRPc19 { margin-left: 19%; margin-right: 19%; }
.abcfslMLRPc20 { margin-left: 20%; margin-right: 20%; }

/*-- Padding ------------------------------------*/
.abcfslPadT0{ padding-top: 0; }
.abcfslPadT5{ padding-top: 5px; }
.abcfslPadT10{ padding-top: 10px; }
.abcfslPadT15{ padding-top: 15px;}
.abcfslPadT20{ padding-top: 20px;}
.abcfslPadT25{ padding-top: 25px;}
.abcfslPadT30{ padding-top: 30px;}
.abcfslPadT40{ padding-top: 40px;}
.abcfslPadT50{ padding-top: 50px;}

.abcfslPadB0{ padding-bottom: 0px; }
.abcfslPadB5{ padding-bottom: 5px; }
.abcfslPadB10{ padding-bottom: 10px; }
.abcfslPadB15{ padding-bottom: 15px; }
.abcfslPadB20{ padding-bottom: 20px; }
.abcfslPadB30{ padding-bottom: 30px; }
.abcfslPadB40{ padding-bottom: 40px; }
.abcfslPadB50{ padding-bottom: 50px; }

.abcfslPadBPc1{ padding-bottom: 1%; }
.abcfslPadBPc2{ padding-bottom: 2%; }
.abcfslPadBPc3{ padding-bottom: 3%; }
.abcfslPadBPc4{ padding-bottom: 4%; }
.abcfslPadBPc5{ padding-bottom: 5%; }
.abcfslPadBPc6{ padding-bottom: 6%; }
.abcfslPadBPc7{ padding-bottom: 7%; }
.abcfslPadBPc8{ padding-bottom: 8%; }
.abcfslPadBPc9{ padding-bottom: 9%; }
.abcfslPadBPc10{ padding-bottom: 10%; }

.abcfslPadLPc1{ padding-left: 1%; }
.abcfslPadLPc2{ padding-left: 2%; }
.abcfslPadLPc3{ padding-left: 3%; }
.abcfslPadLPc4{ padding-left: 4%; }
.abcfslPadLPc5{ padding-left: 5%; }
.abcfslPadLPc6{ padding-left: 6%; }
.abcfslPadLPc7{ padding-left: 7%; }
.abcfslPadLPc8{ padding-left: 8%; }
.abcfslPadLPc9{ padding-left: 9%; }
.abcfslPadLPc10{ padding-left: 10%; }
.abcfslPadLPc15{ padding-left: 15%; }
.abcfslPadLPc20{ padding-left: 20%; }

.abcfslPadRPc1{ padding-right: 1%; }
.abcfslPadRPc2{ padding-right: 2%; }
.abcfslPadRPc3{ padding-right: 3%; }
.abcfslPadRPc4{ padding-right: 4%; }
.abcfslPadRPc5{ padding-right: 5%; }
.abcfslPadRPc6{ padding-right: 6%; }
.abcfslPadRPc7{ padding-right: 7%; }
.abcfslPadRPc8{ padding-right: 8%; }
.abcfslPadRPc9{ padding-right: 9%; }
.abcfslPadRPc10{ padding-right: 10%; }

.abcfslPadLRPc0 { padding-left: 0; padding-right: 0; }
.abcfslPadLRPc0_5 { padding-left: .5%; padding-right: .5%; }
.abcfslPadLRPc1 { padding-left: 1%; padding-right: 1%; }
.abcfslPadLRPc1_5 { padding-left: 1.5%; padding-right: 1.5%; }
.abcfslPadLRPc2 { padding-left: 2%; padding-right: 2%; }
.abcfslPadLRPc2_5 { padding-left: 2.5%; padding-right: 2.5%; }
.abcfslPadLRPc3 { padding-left: 3%; padding-right: 3%; }
.abcfslPadLRPc3_5 { padding-left: 3.5%; padding-right: 3.5%; }
.abcfslPadLRPc4 { padding-left: 4%; padding-right: 4%; }
.abcfslPadLRPc4_5 { padding-left: 4.5%; padding-right: 4.5%; }
.abcfslPadLRPc5 { padding-left: 5%; padding-right: 5%; }
.abcfslPadLRPc5_5 { padding-left: 5.5%; padding-right: 5.5%; }
.abcfslPadLRPc6 { padding-left: 6%; padding-right: 6%; }
.abcfslPadLRPc6_5 { padding-left: 6.5%; padding-right: 6.5%; }
.abcfslPadLRPc7 { padding-left: 7%; padding-right: 7%; }
.abcfslPadLRPc7_5 { padding-left: 7.5%; padding-right: 7.5%; }
.abcfslPadLRPc8 { padding-left: 8%; padding-right: 8%; }
.abcfslPadLRPc8_5 { padding-left: 8.5%; padding-right: 8.5%; }
.abcfslPadLRPc9 { padding-left: 9%; padding-right: 9%; }
.abcfslPadLRPc9_5 { padding-left: 9.5%; padding-right: 9.5%; }
.abcfslPadLRPc10 { padding-left: 10%; padding-right: 10%; }
.abcfslPadLRPc10_5 { padding-left: 10.5%; padding-right: 10.5%; }

.abcfslPadLR5 { padding-left: 5px; padding-right: 5px; }
.abcfslPadLR10 { padding-left: 10px; padding-right: 10px; }
.abcfslPadLR15 { padding-left: 15px; padding-right: 15px; }
.abcfslPadLR20 { padding-left: 20px; padding-right: 20px; }
.abcfslPadLR25 { padding-left: 25px; padding-right: 25px; }
.abcfslPadLR30 { padding-left: 30px; padding-right: 30px; }
.abcfslPadLR35 { padding-left: 35px; padding-right: 35px; }
.abcfslPadLR40 { padding-left: 40px; padding-right: 40px; }
.abcfslPadLR45 { padding-left: 45px; padding-right: 45px; }
.abcfslPadLR50 { padding-left: 50px; padding-right: 50px; }
.abcfslPadLR60 { padding-left: 60px; padding-right: 60px; }
.abcfslPadLR70 { padding-left: 70px; padding-right: 70px; }
.abcfslPadLR80 { padding-left: 80px; padding-right: 80px; }
.abcfslPadLR90 { padding-left: 90px; padding-right: 90px; }
.abcfslPadLR100 { padding-left: 100px; padding-right: 100px; }

/* -- P tag  ------------------------ */
.abcfslPMB1R p{margin-bottom: 1rem;}
.abcfslPMB75R p{margin-bottom: .75rem;}
.abcfslPFont14 p{font-size: 14px;}

/* -- ALIGMENT ------------------------ */
.abcfslTxtCenter { text-align: center; }
.abcfslTxtRight { text-align: right; }
.abcfslTxtLeft { text-align: left; }
.abcfslMLRAuto { margin-left: auto; margin-right: auto }

.abcfslBB11, .abcfslBB12, .abcfslBB13, .abcfslBB14, .abcfslBB15,
.abcfslBB21, .abcfslBB22, .abcfslBB23, .abcfslBB24, .abcfslBB25 { margin-left: auto; margin-right: auto }

/* -- HORIZONTAL LINE ------------------------ */
.abcfslBB11 { border-bottom: 1px solid #e6e6e6; }
.abcfslBB12 { border-bottom: 1px solid #b3b3b3; }
.abcfslBB13 { border-bottom: 1px solid #808080; }
.abcfslBB14 { border-bottom: 1px solid #4d4d4d; }
.abcfslBB15 { border-bottom: 1px solid #1a1a1a; }

.abcfslBB21 { border-bottom: 2px solid #e6e6e6; }
.abcfslBB22 { border-bottom: 2px solid #b3b3b3; }
.abcfslBB23 { border-bottom: 2px solid #808080; }
.abcfslBB24 { border-bottom: 2px solid #4d4d4d; }
.abcfslBB25 { border-bottom: 2px solid #1a1a1a; }

.abcfslBB31 { border-bottom: 3px solid #e6e6e6; }
.abcfslBB32 { border-bottom: 3px solid #b3b3b3; }
.abcfslBB33 { border-bottom: 3px solid #808080; }
.abcfslBB34 { border-bottom: 3px solid #4d4d4d; }
.abcfslBB35 { border-bottom: 3px solid #1a1a1a; }

/* == WIDTH =================================*/
.abcfslWidthPc100{ width: 100%; }
.abcfslWidthPc90{ width: 90%; }
.abcfslWidthPc80{ width: 80%; }
.abcfslWidthPc70{ width: 70%; }
.abcfslWidthPc60{ width: 60%; }

/*== LISTS ===============================*/
/* simple */
.abcfLstCntrN { margin-left: 0px; }
.abcfLstCntrN ul { margin-left: 10px;}
.abcfLstCntrN li { margin: 0; list-style-type: none; padding-left: 2px; padding-top: 6px; }

/* == MISC ================================ */
.abcfClr{ clear: both; font-size: 1px; margin: 0; padding: 0; border: 0; height: 0;}
.abcfClrFix:before, .abcfClrFix:after { content:""; display:table;}
.abcfClrFix:after { clear:both; }
.abcfErrMsgRed { margin-top: 30px; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 600; color: #C00; }
.abcfDivErrMsg { margin-top: 30px; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 600; color: #C00; }

/*-- Visual Aid ------------------------------------*/
.abcfslVAidBorder{ border: 1px solid #808080; }
.abcfslVAidBorderGreen{ border: 1px solid #00e600; }
.abcfslVAidBorderR{ border-right: 1px solid #808080; }
.abcfslVAidTxt{ background-color: #e6e6e6;}

/*== PAGINATION START = PRO ==============*/
.abcfslPagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
}

.abcfslPageItem a, 
.abcfslNextPg a,
.abcfslPrevPg a {
    text-decoration: none;
    border-bottom: 1px solid #dddddd;
}
/* -- BLUE ----#4183c4;--------------*/
.abcfslPageItem.abcfslActive .abcfslPageLink_B {
    z-index: 2;
    background-color: #0275d8;
    border-color: #0275d8;
    color: #ffffff;
}
li.abcfslPageItem a.abcfslPageLink_B,
.abcfslPageItem.abcfslDisabled .abcfslPageLink.abcfslPageLink_B{
  color: #4183c4;
}

/* -- PAGINATION BLACK ------------------*/
.abcfslPageItem.abcfslActive .abcfslPageLink_BK {
    z-index: 2;
    background-color: #3b3b3b;
    border-color: #292929;
    color: #ffffff;
}
li.abcfslPageItem a.abcfslPageLink_BK,
.abcfslPageItem.abcfslDisabled .abcfslPageLink.abcfslPageLink_BK {
  color: #000000;
}


/* --DG------------------*/
.abcfslPageItem.abcfslActive .abcfslPageLink_DG {
    z-index: 2;
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}
li.abcfslPageItem a.abcfslPageLink_DG,
.abcfslPageItem.abcfslDisabled .abcfslPageLink.abcfslPageLink_DG {
  color: #666666;
}
/* --GRAY------------------*/
.abcfslPageItem.abcfslActive .abcfslPageLink_G {
    z-index: 2;
    background-color: #cccccc;
    border-color: #cccccc;
    color: #4d4d4d;
}
li.abcfslPageItem a.abcfslPageLink_G,
.abcfslPageItem.abcfslDisabled .abcfslPageLink.abcfslPageLink_G{
  color: #8c8c8c;
}
/* --------------------*/
.abcfslPageItem.abcfslDisabled .abcfslPageLink {
  pointer-events: none;
  cursor: not-allowed;
}

li.abcfslPageItem a:focus, 
li.abcfslPageItem a:hover,
li.abcfslNextPg a:focus, 
li.abcfslNextPg a:hover,
li.abcfslPrevPg a:focus, 
li.abcfslPrevPg a:hover {
  border-bottom-color: #DDDDDD;
}

/* --------------------*/
.abcfslPageLink {
  position: relative;
  display: block;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

a.abcfslPageLink:focus, a.abcfslPageLink:hover {
  text-decoration: none;
  background-color: #eceeef;
  border-color: #DDDDDD;
}

/* --------------------*/
.abcfslPagination_LG .abcfslPageLink {
  padding: 7px 12px;
  font-size: 16px;
}

/* -- 15px ---------------------------------*/
.abcfslPagination_MD .abcfslPageLink {
  padding: 6px 10px;
  font-size: 15px;
}
/* -- 14px ---------------------------------*/
.abcfslPagination_SM .abcfslPageLink {
  padding: 4px 9px;
  font-size: 14px;
}
/* --- 12px 12px --------------------------------*/
.abcfslPagination_XS .abcfslPageLink {
  padding: 3px 7px;
  font-size: 12px;
}

.abcfslPagination_LG .abcfslPageItem:first-child .abcfslPageLink,
.abcfslPagination_MD .abcfslPageItem:first-child .abcfslPageLink,
.abcfslPagination_SM .abcfslPageItem:first-child .abcfslPageLink,
.abcfslPagination_XS .abcfslPageItem:first-child .abcfslPageLink {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
}

.abcfslPagination_LG .abcfslPageItem:last-child .abcfslPageLink,
.abcfslPagination_MD .abcfslPageItem:last-child .abcfslPageLink,
.abcfslPagination_SM .abcfslPageItem:last-child .abcfslPageLink,
.abcfslPagination_XS .abcfslPageItem:last-child .abcfslPageLink{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* -----------------------*/
.abcfslJustify_S {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.abcfslJustify_C {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
/* ---------------------*/
.abcfslJustify_E {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:abcfslActive, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none;
}
/*== PAGINATION END ==================*/

/*== HOVER START ====================*/
.abcfslImgGray a img,
.abcfslImgLight03 a img, .abcfslImgLight05 a img, .abcfslImgLight07 a img,
.abcfslImgDark80 a img, .abcfslImgDark70 a img, .abcfslImgDark60 a img {
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
       -o-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}
.abcfslImgGray a img:hover {
  filter: grayscale(100%);
}
.abcfslImgLight03 a img:hover {
  filter: opacity(0.3);
}
.abcfslImgLight05 a img:hover {
  filter: opacity(0.5);
}
.abcfslImgLight07 a img:hover {
  filter: opacity(0.7);
}
/* -------------------*/
.abcfslImgDark80 a img, .abcfslImgDark70 a img, .abcfslImgDark60 a img {
  filter: brightness(100%);
}
.abcfslImgDark80 a img:hover {
  filter: brightness(80%);
}
.abcfslImgDark70 a img:hover {
  filter: brightness(70%);
}
.abcfslImgDark60 a img:hover {
  filter: brightness(60%);
}
/* -- Tilt -------*/
.abcfslImgTilt10 a img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.abcfslImgTilt10 a img:hover {
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

/*-- Drop Shadow -------------------*/
img.abcfslDShadow1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

img.abcfslDShadow2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

img.abcfslDShadow3 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

img.abcfslDShadow4 {
-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    2px 2px 3px 0px rgba(0, 0, 0, 0.5);
box-shadow:         2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

img.abcfslDShadow5 {
-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.7);
-moz-box-shadow:    2px 2px 3px 0px rgba(0, 0, 0, 0.7);
box-shadow:         2px 2px 3px 0px rgba(0, 0, 0, 0.7);
}
/*== HOVER END =====================*/

/*== OVERLAY START ==PRO===================*/
.abcfslMask {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .65);
}

.abcfslOverlay:hover .abcfslMask { opacity: 1; }
.abcfslOverlay img { transition: all .2s linear; }
.abcfslOverlay:hover .abcfslMask { opacity: 1 }
.abcfslOverlay .abcfslMask { opacity: 0; transition: all .4s ease-in-out; }
.abcfslWhiteText { color: #FFF!important; }

.abcfslFlexCenter{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.abcfslFlexCenter div{ margin: 0 }
/*== OVERLAY END =====================*/

/*== SEARCH FORM START ===================*/
.abcfslFrmInline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.abcfslFrmGroupLT,
.abcfslFrmGroup,
.abcfslFrmGrpCols11,
.abcfslFrmGrpCols12,
.abcfslFrmGrpCol {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.abcfslSelect_LG select,
.abcfslSelect_LG input[type="text"] {
    height: 35px;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 4px;
}
.abcfslSelect_MD select,
.abcfslSelect_MD input[type="text"] {
    height: 30px;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 3px;
}
.abcfslSelect_SM select,
.abcfslSelect_SM input[type="text"] {
    height: 25px;
    padding: 0 5px;
    font-size: 13px;
    border-radius: 2px;
}

.abcfslFrmGroupLT label {
    display: block;
}

.abcfslFrmGroupLT label, 
.abcfslFrmGrpCol label, 
.abcfslBtnGroupVSpacer {
    margin-bottom: 5px;
}

.abcfslFrmGroup label,
.abcfslFrmGrpCols11 label,
.abcfslFrmGrpCols12 label{
    margin-bottom: 0;
}

.abcfslLbl_LG label, .abcfslBtnGroupVSpacer_LG {
    font-size: 15px;
    font-weight: 400;
}
.abcfslLbl_MD label, .abcfslBtnGroupVSpacer_MD {
    font-size: 14px;
    font-weight: 400;
}
.abcfslLbl_SM label, .abcfslBtnGroupVSpacer_SM {
    font-size: 13px;
    font-weight: 400;
}

.abcfslFrmControl_Default {
    display: block;
    width: 100%;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.abcfslFrmControl, .abcfslFrmControlLT {
    display: block;
    width: 100%;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.abcfslFrmControlLT {
    margin-left: 0;
}

.abcfslFrmGrpCol .abcfslFrmControl {
    display: block;
    width: 100%;
    margin-left: 0;
}

.abcfslFrmGroup .abcfslFrmControl,
.abcfslFrmGrpCols11 .abcfslFrmControl,
.abcfslFrmGrpCols12 .abcfslFrmControl,
.abcfslFrmGrpCol  .abcfslFrmControl {
    line-height: 1.25;
    color: #464a4c;
    background-color: #ffffff;
}

.abcfslFrmGroup .abcfslFrmControl::placeholder,
.abcfslFrmGrpCols11 .abcfslFrmControl::placeholder,
.abcfslFrmGrpCols12 .abcfslFrmControl::placeholder,
.abcfslFrmGrpCol .abcfslFrmControl::placeholder {
    color: #636c72;
    opacity: 1;
}

.abcfslFrmCntr_600,
.abcfslFrmCntr_500,
.abcfslFrmCntr_400,
.abcfslFrmCntr_300 { 
    max-width: 100%;
}

.abcfslAlign_S { margin-right: auto; }
.abcfslAlign_C { margin-left: auto; margin-right: auto }
.abcfslAlign_E { margin-left: auto; }
/*== SEARCH FORM END ===================*/

/*== SEARCH FORM - MEDIA START Medium devices (tablets, 768px and up)=========-*/
@media (min-width: 768px) {

    .abcfslFrmGroup {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 15px;
        width:auto;
    }

    .abcfslFrmGroupLT {
        margin-left: 15px;
        width:auto;
    }

    .abcfslFrmGrpCols11,
    .abcfslFrmGrpCols12 {
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .abcfslFrmGrpCols11 label,
    .abcfslFrmGrpCols12 label {
        flex: 1;
    }

    .abcfslFrmGrpCols11 input,
    .abcfslFrmGrpCols11 select {
        flex: 1;
    }
    .abcfslFrmGrpCols12 input,
    .abcfslFrmGrpCols12 select {
        flex: 2;
    }

    .abcfslBtnGroup {
        margin-left: 15px;
        width:auto;
    }
    
    .abcfslFrmControl_Default,
    .abcfslFrmControl {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-left: 5px;
    }

    .abcfslFrmGrpCols11 label,
    .abcfslFrmGrpCols12 label {
        padding: .5px 0 .5px 0;
    }

    .abcfslFrmCntr_600 { max-width: 600px; }    
    .abcfslFrmCntr_500 { max-width: 500px; }    
    .abcfslFrmCntr_400 { max-width: 400px; }
    .abcfslFrmCntr_300 { max-width: 300px; }
}
/*== SEARCH FORM - MEDIA END ==================-*/

/*== BUTTON GROUP START ====================*/
.abcfslBtnGroup {
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;  
    position: relative; 
    margin-bottom: 10px;
}

.abcfslBtnGrpCols {
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 5px;
    margin-bottom: 10px;
    width:auto;
}

.abcfslBtnGroup > .abcfslBtn,
.abcfslBtnGrpCols > .abcfslBtn {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 0;
}

.abcfslBtnGroup>.abcfslBtn:hover,
.abcfslBtnGrpCols>.abcfslBtn:hover {
    z-index: 2;
}
.abcfslBtnGroup>.abcfslBtn:focus,
.abcfslBtnGroup>.abcfslBtn:active,
.abcfslBtnGrpCols>.abcfslBtn:focus,
.abcfslBtnGrpCols>.abcfslBtn:active {
    z-index: 2;
}
.abcfslBtnGroup .abcfslBtn+.abcfslBtn,
.abcfslBtnGrpCols .abcfslBtn+.abcfslBtn {
    margin-left: -1px;
}
.abcfslBtnGroup>.abcfslBtn:not(:first-child):not(:last-child),
.abcfslBtnGrpCols>.abcfslBtn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.abcfslBtnGroup>.abcfslBtn:first-child,
.abcfslBtnGrpCols>.abcfslBtn:first-child {
    margin-left: 0;
}
.abcfslBtnGroup>.abcfslBtn:first-child:not(:last-child),
.abcfslBtnGrpCols>.abcfslBtn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.abcfslBtnGroup>.abcfslBtn:last-child:not(:first-child),
.abcfslBtnGrpCols>.abcfslBtn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*== BUTTON GROUP END ====================*/

/*-- BUTTONS START ================================*/
.abcfslBtn_Default {
    display: inline-block;
    vertical-align: middle;
}

.abcfslBtn {
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    box-shadow: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.abcfslBtn:focus,
.abcfslBtn:hover,
.abcfslLbl:focus,
.abcfslLbl:hover {
    text-decoration: none;
}
.abcfslBtn_LG button {
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 4px;
}
.abcfslBtn_MD button {
    padding: 5px 14px;
    font-size: 14px;
    border-radius: 3px;
}
.abcfslBtn_SM button {
    padding: 3px 12px;
    font-size: 14px;
    border-radius: 2px;
}
.abcfslBtn_Blue {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.abcfslBtn_Blue:focus,
.abcfslBtn_Blue:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    box-shadow: none;
}
.abcfslBtn_Green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.abcfslBtn_Green:focus,
.abcfslBtn_Green:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    box-shadow: none;
}
.abcfslBtn_White {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
.abcfslBtn_White:focus,
.abcfslBtn_White:hover {
    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: none;
}
.abcfslBtn_Gray1 {
    color: #404040;
    background-color: #b3b3b3;
    border-color: #999999;
}
.abcfslBtn_Gray1:focus,
.abcfslBtn_Gray1:hover {
    color: #4d4d4d;
    background-color: #cccccc;
    border-color: #a6a6a6;
    box-shadow: none;
}
.abcfslBtn_Gray2 {
    color: #595959;
    background-color: #e6e6e6;
    border-color: #bfbfbf;
}
.abcfslBtn_Gray2:focus,
.abcfslBtn_Gray2:hover {
    color: #404040;
    background-color: #bfbfbf;
    border-color: #999999;
    box-shadow: none;
}
.abcfslBtn_Gray3 {
    color: #ffffff;
    background-color: #8c8c8c;
    border-color: #737373;
}
.abcfslBtn_Gray3:focus,
.abcfslBtn_Gray3:hover {
    color: #ffffff;
    background-color: #737373;
    border-color: #595959;
    box-shadow: none;
}
.abcfslBtn_Out1 {
    color: #0275d8;
    background-color: transparent;
    background-image: none;
    border-color: #0275d8;
}
.abcfslBtn_Out1:focus,
.abcfslBtn_Out1:hover {
    color: #ffffff;
    background-color: #0275d8;
    border-color: #0275d8;
    box-shadow: none;
}
.abcfslBtn_Out2 {
    color: #808080;
    background-color: transparent;
    background-image: none;
    border-color: #cccccc;
}
.abcfslBtn_Out2:focus,
.abcfslBtn_Out2:hover {
    color: #ffffff;
    background-color: #8c8c8c;
    border-color: #737373;
    box-shadow: none;
}
/*-- BUTTONS END ==========================*/

/** ISOTOPE OK START == Mobile First ***************/
.abcfslIItemCntr { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (min-width : 576px){
    .abcfslIC_sm_1 { width: 100% }
    .abcfslIC_sm_2 { width: 50% }
    .abcfslIC_sm_3 { width: 33.33% }
    .abcfslIC_sm_4 { width: 25% }
    .abcfslIC_sm_5 { width: 20% }
    .abcfslIC_sm_6 { width: 16.66666667% }
    .abcfslIC_sm_7 { width: 14.28% }
    .abcfslIC_sm_8 { width: 12.5%; }
}

@media only screen and (min-width : 768px){
    .abcfslIC_md_1 { width: 100% }
    .abcfslIC_md_2 { width: 50% }
    .abcfslIC_md_3 { width: 33.33% }
    .abcfslIC_md_4 { width: 25% }
    .abcfslIC_md_5 { width: 20% }
    .abcfslIC_md_6 { width: 16.66666667% }
    .abcfslIC_md_7 { width: 14.28% }
    .abcfslIC_md_8 { width: 12.5%; }
}

@media only screen and (min-width : 992px){
    .abcfslIC_lg_1 { width: 100% }
    .abcfslIC_lg_2 { width: 50% }
    .abcfslIC_lg_3 { width: 33.33% }
    .abcfslIC_lg_4 { width: 25% }
    .abcfslIC_lg_5 { width: 20% }
    .abcfslIC_lg_6 { width: 16.66666667% }
    .abcfslIC_lg_7 { width: 14.28% }
    .abcfslIC_lg_8 { width: 12.5%; }
}

@media only screen and (min-width : 1200px){
    .abcfslIC_xl_1 { width: 100% }
    .abcfslIC_xl_2 { width: 50% }
    .abcfslIC_xl_3 { width: 33.33% }
    .abcfslIC_xl_4 { width: 25% }
    .abcfslIC_xl_5 { width: 20% }
    .abcfslIC_xl_6 { width: 16.66666667% }
    .abcfslIC_xl_7 { width: 14.28% }
    .abcfslIC_xl_8 { width: 12.5%; }
}

.abcfslDisplayN { display: none; }

/* -- ISOTOPE GRID B 768px+ -----------------------*/
.abcfslILstCol { -moz-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; }

@media (min-width: 576px) {
    .abcfslILstCol { float: left; }
    .abcfslILstCol-12{width: 100%;}
    .abcfslILstCol-11 {width: 91.666663%;}
    .abcfslILstCol-10 {width: 83.33%;}
    .abcfslILstCol-9 {width: 74.999997%;}
    .abcfslILstCol-8 {width: 66.66666664%;}
    .abcfslILstCol-7 {width: 58.333%;}
    .abcfslILstCol-6 {width: 50%;}
    .abcfslILstCol-5 {width: 41.6665%;}
    .abcfslILstCol-4 {width: 33.33%;}
    .abcfslILstCol-3 {width: 24.99%;}
    .abcfslILstCol-2 {width: 16.66666%;}
    .abcfslILstCol-1 {width: 8.33%;}
}
/** ISOTOPE END ********************************************/

/*-- Single Column. Center Text ------*/
@media (max-width: 575px) {.abcfslCenter575 { margin-left: auto; margin-right: auto; text-align: center; padding-top: 10px; padding-left: 0;  padding-right: 0;}}

.abcfslIItemWrap{ position: relative; }

/** ICON FONT ***********************/
.abcfslIconMR5 i, .abcfslIconMR5 svg { margin-right: 5px; }
.abcfslIMR5 a { margin-right: 5px; }
.abcfslIMR10 a { margin-right: 10px; }
.abcfslIMR15 a { margin-right: 15px; }
.abcfslIMR20 a { margin-right: 20px; }
.abcfslIMR25 a { margin-right: 25px; }
.abcfslIMR30 a { margin-right: 30px; }
.abcfslIMR40 a { margin-right: 40px; }
.abcfslIMR50 a { margin-right: 50px; }
.abcfslIMR a:last-of-type{ margin-right: 0; }

/** MEDIA QUERY WIDTH ***********************/
.abcfslMQWidthP75 { width: 100%; }
.abcfslMQWidthP50 { width: 100%; }
.abcfslMQWidthP25 { width: 100%; }
.abcfslMQWidthP33 { width: 100%; }

@media (min-width: 768px) {
    .abcfslMQWidthP75 { width: 75%; }
    .abcfslMQWidthP50 { width: 50%; }
    .abcfslMQWidthP33 { width: 33%; }
    .abcfslMQWidthP25 { width: 25%; }
}
