BODY {
	BACKGROUND: #ffffff; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 10pt; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%
}
H1 {
	COLOR: #002c57; DISPLAY: block; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 16pt; TEXT-ALIGN: center
}
H2 {
	COLOR: #004080; DISPLAY: block; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 14pt
}
H3 {
	COLOR: #004080; DISPLAY: block; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 13pt
}
H4 {
	COLOR: #004080; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 1%; MARGIN-TOP: 0px
}
H5 {
	MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 1%; MARGIN-TOP: 0px; TEXT-ALIGN: center
}
H6 {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 5%; MARGIN-TOP: 0px
}
TD {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 10pt
}
UL {
	LIST-STYLE: disc
}
SUP {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 8pt}
p {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 10pt
}