/* NRC Research Press - Style sheet for Ads and Site Editor Snippets    */


/*Styles for the journal home page */
#jnl-home-container {
padding-top:7px;
width:100%;
margin-bottom:15px;
}
#jnl-home-container:after {
display:block;
content:(&nbsp;);
}

#jnl-home-container a {
font-size: 12px;
display:block;
margin-top: 6px;
color: rgb(138, 15, 42); 
}

#jnl-home-container div {
font-size: 12px;
font-weight:bold;
}
#jnl-home-container span {
font-weight:normal;
}

#jnl-home-left p{
font-weight:normal;
}

#jnl-home-right {
font-weight:normal;
}

/*Styles for the More about the Journal page*/

#jnl-about-container {
max-width: 600px;
padding:0px;
}

#jnl-about-left {
float:left;
width:370px;
}

#jnl-about-right {
float: right; 
width: 210px;
padding-left: 5px;
font-style: normal;
font-family: Arial, Helvetica, sans-serif;
}

#jnl-about-right ul {
list-style-type:none;
}

#jnl-about-right li {
font-size: 10px;
margin-bottom:-3px
}

#jnl-about-clear {
clear:both;
}

/*Styles for the Featured Content {Editor's Choice} area */

#featured-content {
padding:10px;
background-color:#E6E6E6;
line-height:1.1em;
}

#featured-content h2  {
font-weight:bold;
font-size:16px;
color:#8a0f2a;
margin-bottom: 14px;
}

.ed-choice h3 {
font-size:14px;
color:black;
font-weight:bold;
}

.ed-choice h4 {
font-weight:bold;
color:#2C4456;
}

.ed-choice h4 a{
text-decoration:none;
font-weight:bold;
color:#2C4456;
}
.ed-choice h4 a:hover{
text-decoration:underline;
font-weight:bold;
color:black;
}

.ed-choice h5 {
margin-top:-5px;
}
.ed-choice a:link {
font-weight:bold;
color: rgb(128, 0, 0);
margin-left: 5px;
}
.ed-choice a:visited {
color:#800000;
}
.ed-choice a:hover {
color:#DC143Cl;
text-decoration:underline;
}

#nav-left li a {
padding: 15 px 13 px 9 px;
}

#nav-right li a {
font-size: 12px;
}
/*Styles for the RSS alerts page*/
a.rssfeed  {
text-decoration:none;
}
a.rssfeed:hover {
text-decoration:underline;
font-weight:bold;
}

a.rssfeed img {
padding-right:3px;
}

/*Hide "About the Journal" caption on journal home pages */

div.journalHomeCover h1 {
display:none;
}

.small-grey-box {
padding-bottom:0px;
}

/*To fix level 2 heading in articles*/

div .title2 {
font-size: 95%;
}