@charset "UTF-8";

/* CSS Styles */
body { background-color: #3e3c3d; }
#bodyWrapper { background: #3e3c3d url(../images/bg-top.png) top left repeat-x }
/* ******************************************** */
/* CLEARFIX */
/* ******************************************** */
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden; }
 
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.spacer{
    clear:both;
}

/* ******************************************** */
/* CLASSES */
/* ******************************************** */
.align-center 	{ text-align: center }
.align-left 	{ text-align: left }
.align-right 	{ text-align: right }
.border-gray 		{ border: 1px solid #6b6b6b }
.border-lightgray 	{ border: 1px solid #cbcbcb }
.border-custom-lightgray 	{ border: 1px solid #e6e7e8 }
.box-gray {
    background-color: #e6e7e8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.box-blue { background-color: #8899aa }
.box-blue p, .box-blue ol, .box-blue ul { color: #fff }
.box-gray-border {
    background-color: #e6e7e8;
    border: 1px solid #cbcbcb;
    width: 130px;
}
.box-pad { padding: 15px }
.bullet-red { list-style: url(../images/bullet-red-circle.png) }
.small-caps { font-variant: small-caps; }
.clear 	{ clear: both }
.color-gray 	{ color: #333 }
.color-red 		{ color: #be1e2e; }
.color-white 	{ color: #fff }
.float-left 	{ float: left }
.float-right 	{ float: right }
.float-content-left {
    float: left;
    margin-left: 10px;
    width: 340px;
}
.header-bar {
    background: transparent url(../images/corner.png) bottom right no-repeat;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 15px 8px;
}
.header-gray 		{ background-color: #3E3C3D }  /* old: 6b6b6b */
.header-dark-gray 	{ background-color: #333 }
.header-light-gray	{ background-color: #e6e7e8; }
.header-blue 		{ background-color: #8899aa }
.header-orange 		{ background-color: #ea7f1f }
.margin-right 	{ margin-right: 15px }
.margin-left 	{ margin-left: 15px }
.margin-top 	{ margin-top: 15px }
.margin-bottom 	{ margin-bottom: 15px }
.no-border	{ border: none; }
.no-bullet	{ list-style: none; }
.no-corner 	{ background-image: none }
.no-float 	{ float: none }
.no-margin 	{ margin: 0 }
.no-padding	{ padding: 0; }
.padding-right 	{ margin-right: 15px }
.padding-left 	{ margin-left: 15px }
.padding-top 	{ margin-top: 15px }
.padding-bottom { margin-bottom: 15px }
.red-link-right, .red-link-left {
    color: #be1e2e;
    margin-bottom: 15px;
}
.red-link-left 	{ margin-right: 10px }
.red-link-right	{ margin-left: 10px }
.white-link-right {
	color: #fff;
	margin-left: 10px;
}
.width10	{ width: 10%; }
.width20 	{ width: 20%; }
.width30 	{ width: 30%; }
.width40	{ width: 40%; }
.width50 	{ width: 50%; }
.width60	{ width: 60%; }
.width70 	{ width: 70%; }
.width80	{ width: 80%; }
.width90 	{ width: 90%; }
.width100	{ width: 100%; }

/* ******************************************** */
/* BUTTONS */
/* ******************************************** */
a.btn-red 		{ background: transparent url("../images/btn-right-red.png") no-repeat top right }
a.btn-orange 	{ background: transparent url("../images/btn-right-orange.png") no-repeat top right }
a.btn-gray 		{ background: transparent url("../images/btn-right-gray.png") no-repeat top right }
a.btn-red span 		{ background: transparent url("../images/btn-left-red.png") no-repeat 0 0 }
a.btn-orange span 	{ background: transparent url("../images/btn-left-orange.png") no-repeat 0 0 }
a.btn-gray span 	{ background: transparent url("../images/btn-left-gray.png") no-repeat 0 0 }
a.btn-red, a.btn-orange, a.btn-gray {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 28px;      /* change more-link more-container accordingly*/
    margin: 0 6px 15px 0;
    padding-right: 20px;
    text-decoration: none;
}
a.btn-red:hover, a.btn-orange:hover, a.btn-gray:hover {
    background-position: right -29px;
    cursor: pointer;
}
a.btn-red:hover span, a.btn-orange:hover span, a.btn-gray:hover span {
    background-position: 0 -29px;
    color: #fff;
}
a.btn-red span, a.btn-orange span, a.btn-gray span {
    color: #fff;
    display: block;
    padding: 7px 0 7px 18px;
}
a.btn-article-items {
    background: #be1e2e url("../images/btn-right-article.png") no-repeat top right;
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    margin: 0 0 0 5px;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
}
a.btn-article-items:hover { background-position: bottom right }
a.btn-article-items:hover span { background-position: bottom left }
a.btn-article-items:hover, a.btn-article-items:hover span {
    background-color: #6b6b6b;
    cursor: pointer;
}
a.btn-article-items span {
    background: #be1e2e url("../images/btn-left-article.png") no-repeat top left;
    color: #fff;
    display: block;
    height: 15px;
    padding: 1px 0 0 5px;
}

/* ******************************************** */
/* WRAPPER */
/* ******************************************** */
#wrapper {
    background-color: #fff;
    margin: 0 auto;
    width: 1102px;
}
.leaderboard {
    margin: 0 auto;
    width: 728px;
    height: 90px;
}
body > .leaderboard {
    padding-bottom: 10px;
}
/* ******************************************** */
/* TOP BARS */
/* ******************************************** */
#top-bar-wrapper {
    background: #3e3c3d url(../images/bg-top.png) top left repeat-x;
    height: 105px;
    width: 1102px;
}
/* ******************************************** */
/* TOP BAR 1 */
/* ******************************************** */
#top-bar-1 {
    height: 40px;
    margin: 0 auto;
    width: 1102px;
    position: relative;
}
#top-bar-1 .headerAd {
    background: transparent url(../images/logo-background.png) top left no-repeat;
    float: left;
    height: 130px;
    width: 183px;
    margin-left:-4px;
}
#top-bar-1 .headerAd img {
    display: block;
    margin: 20px auto 0 auto;
}
#individual-menu, #identity-bar a {
    color: #fff;
    font-size: 12px;
}
#identity-bar {
    float: right;
    padding-top: 16px;
	margin: 0;
    position: absolute;
    right: 0px;
    padding-right: 102px;
}
#identity-bar .divider { display:none; }
#identity-bar .shoppingCart {
    background: url(../images/icon-cart.png) center left no-repeat;
    padding-left: 17px;
}
#identity-bar a { margin-left: 15px; }
#top-bar-wrapper .institutionBanner {
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-top: 16px;
    width: 300px;
    padding-left: 15px;
}
#top-bar-wrapper .institutionBanner img { display: none; }

.headerMobileAd{
    text-align: center;
    padding-bottom:5px;
    padding-top: 6px;
    min-width:1102px;
    background-color: #6B6B6B;
    outline-color:#6B6B6B;
    outline-width : 1px;
    outline-style:  solid;
    margin: 0px;
}
.headerMobileAd a{
    color:#ffffff;
    font-weight: bold;
}
/* ******************************************** */
/* TOP BAR 2 */
/* ******************************************** */
#top-bar-2 {
    height: 65px;
    margin: 0 auto;
    width: 1102px;
}
#tag-line {
    float: left;
    height: 65px;
	line-height: inherit;
    margin: 0;
    width: 313px;
    padding-left: 15px;
}
#search-wrapper {
    float: right;
    padding-top: 9px;
    padding-right: 102px;
}
#search-wrapper a {
    color: #333;
    font-size: 11px;
    text-align: right;
}
#search-wrapper .advanced-search {
	line-height: inherit;
    margin-bottom: 5px;
    text-align: right;
}
.searchOuterBorder {
    padding-left: 3px;
    background: transparent url(../images/bg-search-left.png) top left no-repeat;
}
.searchInnerBorder {
    padding-right: 3px;
    background: transparent url(../images/bg-search-right.png) top right no-repeat;
}
#search-inner {
    background: #6b6b6b;
    height: 40px;
}
#search {
    float: left;
    margin: 0 6px 0 10px;
    padding-top: 10px;
    width: 100%;
}
#qSearchSelect { display: inline; }
.text-search { width: 150px; }
/* ******************************************** */
/* BANNER */
/* ******************************************** */
.banner {
    background: url(../images/banner.jpg) top left no-repeat;
    border-bottom: 1px solid #fff;
    height: 90px;
    width: 1102px;
}
.banner h1 {
    clear: both;
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -0.005em;
    margin-left: 40px;
    padding-top: 15px;
    text-shadow: #111 1px 2px 2px;
}
#banner-ad {
    float: right;
    height: 90px;
    margin-right: 42px;
    width: 728px;
}
/* ******************************************** */
/* NAVIGATION */
/* ******************************************** */
#nav-wrapper {
    background-color: #be1e2e;
    height: 40px;
    margin: 0;
    padding: 0 10px;
}
#nav-left, #nav-right {
    margin: 0;
    padding: 0;
}
#nav-left :hover > a.drop { background: #36050a url(../images/drop-arrow-hover.png) 90% 16px no-repeat; }
#nav-right li { float: right; }
#nav-left li, #nav-right li {
    display: block;
    position: relative;
    z-index: 500;
    margin-bottom: 0;
}
#nav-left li a.drop {
    background: url(../images/drop-arrow.png) 90% 17px no-repeat;
    padding-right: 24px;
}
#nav-left li a.drop:hover { background: #36050a url(../images/drop-arrow-hover.png) 90% 16px no-repeat }
#nav-left li a, #nav-right li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 15px 15px 11px;
    text-decoration: none;
}
#nav-left li a:hover, #nav-right li a:hover { background-color: #36050a }
#nav-left li { float: left }
#nav-left ul {
    background-color: #731012;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}
#nav-left ul li {
    border-top: 1px solid #fff;
    float: left;
    margin-bottom: 0;
    min-width: 200px;
}
#nav-left ul li a {
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px 15px;
    text-align: left;
}
/* ******************************************** */
/* BREADCRUMBS */
/* ******************************************** */
#breadcrumbs {
    font-size: 11px;
	list-style: none;
    margin: 10px 8px 10px 12px;
    padding: 0;
	clear: both;
    min-height: 11px;
}
#breadcrumbs a { color: #333 }
/* ******************************************** */
/* MAIN */
/* ******************************************** */
#main {
    overflow: hidden;
    background-color: #fff;
    padding: 0 5px 10px 5px;
    width: 1092px;
}
/* ******************************************** */
/* LEFT SIDEBAR */
/* ******************************************** */
#sidebar-left {
    float: left;
    margin: 0 5px;
    width: 160px;
}
#sidebar-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar-left ul li {
    font-size: 12px;
    margin: 0 0 1px;
}
#sidebar-left ul li ul li,
#sidebar-left ul.personalize-sidebar > li {
    background: #e6e7e8 url(../images/bg-subnav-arrow.png) 10px 10px no-repeat;
    padding: 7px 7px 7px 10px;
}
#sidebar-left ul li ul li a,
#sidebar-left ul.personalize-sidebar li a {
    background: #e6e7e8;
    color: #333;
    font-weight: normal;
    margin-left: 10px;
    padding: 0;
}
#sidebar-left ul li ul li a:hover, #sidebar-left ul.personalize-sidebar li a:hover { color: #000 }
#sidebar-left ul li div {
    display: block;
    font-size: 12px;
    margin-bottom: 1px;
}
#sidebar-left ul li a {
    color: #fff;
    display: block;
    font-size: 12px;
    text-decoration: none;
}
#sidebar-left ul li a:hover {
    color: #e6e7e8;
    text-decoration: underline;
}
#sidebar-left .pubCoverImg {
    width: 158px;
    border: 1px solid black;
    margin-bottom: 15px;
}
#sidebar-left .ads { margin-top: 10px; }
/* ******************************************** */
/* CONTENT */
/* ******************************************** */
#content {
    float: left;
    margin: 0 10px 20px;
    width: 590px;
}
#journal-rotate {
    height: 200px;
    margin-bottom: 10px;
    width: 600px;
}
#content-left {
    float: left;
    margin-right: 5px;
    width: 290px;
}
#content-right {
    float: left;
    margin-left: 5px;
    width: 290px;
}
#content-right h4 a {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
#content-right ul { list-style: url(../images/bullet-blue-square.png) }
#content-right .newsStories, #content-right .rightSideAds {
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#content-right .newsStories {
     background-color: #E6E7E8;
 }
.content-ealerts {
	background: url(../images/icon-e-alerts.png) top left no-repeat;
	padding-left: 30px;
	margin-bottom: 80px;
}
.content-rss {
	background: url(../images/icon-rss.png) top left no-repeat;
	padding-left: 30px;
}
/* ******************************************** */
/* INNER SIDEBAR */
/* ******************************************** */
.sidebar-inner {
    float: right;
    margin: 0 0 15px 15px;
    width: 200px;
}
/* ******************************************** */
/* JOURNALS */
/* ******************************************** */
.about-cover, .journalHomeCover {
    float: left;
    width: 350px;
}
.journalHomeCover { width: 590px; }
.journal-cover {
    width: 158px;
    float: left;
    margin: 0 15px 15px 0;
}
.journal-details {
    float: left;
    margin: 0 15px 15px 0;
}
.access-indicator {
    clear: both;
    height: 16px;
    list-style: none;
    margin: 0 0 5px;
    padding: 3px;
}
.access-indicator img {
    position: relative;
    top: 2px;
}
.access-indicator li { margin: 0 }
.access-indicator ul {
    display: inline;
    margin: 0;
    padding-left: 0;
}
.access-indicator ul li {
    display: inline;
    list-style: none;
    padding-left: 10px;
}
h1.article-title { color: #333 }
.icon-list-horizontal {
    background-color: #dddddd;
    clear: both;
    padding: 10px 15px 0;
    width: 470px;
}
.icon-list-horizontal li {
    float: left;
    list-style: none;
    margin-right: 15px;
}
.icon-list-horizontal li a {
    display: block;
    font-size: 11px;
    height: 15px;
    padding: 1px 0 0 19px;
    text-decoration: none;
}
.icon-list-horizontal li a:hover { text-decoration: underline }
.icon-list-vertical {
    float: right;
    margin: 0 0 15px 15px;
    padding-bottom: 10px;
}
.icon-list-vertical li.last { padding: 10px 0 0 }
.icon-list-vertical li {
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
}
.icon-list-vertical li a {
    display: block;
    height: 16px;
    padding-left: 25px;
}
a.icon-tables 		{ background: url(../images/icons-downloads.png) 0 0 no-repeat }
a.icon-figures 		{ background: url(../images/icons-downloads.png) 0 -16px no-repeat }
a.icon-references 	{ background: url(../images/icons-downloads.png) 0 -32px no-repeat }
a.icon-html 		{ background: url(../images/icons-downloads.png) 0 -48px no-repeat }
a.icon-video 		{ background: url(../images/video-icon.png) no-repeat;}
.icon-list-horizontal li .icon-video {padding-top: 2px;}
a.icon-pdf 			{ background: url(../images/icons-downloads.png) 0 -64px no-repeat }
a.icon-pdf-plus		{ background: url(../images/icons-downloads.png) 0 -112px no-repeat }
a.icon-data 		{ background: url(../images/icons-downloads.png) 0 -80px no-repeat }
a.icon-recommended 	{ background: url(../images/icons-downloads.png) 0 -128px no-repeat }
a.icon-citing 		{ background: url(../images/icons-downloads.png) 0 -96px no-repeat }
a.icon-abstract 	{ background: url(../images/icons-downloads.png) 0 -144px no-repeat }
a.icon-related 	    { background: url(../images/icons-downloads.png) 0 -160px no-repeat }

h2.bookSeriesTitle{
    color: #BE1E2E;
    font-size: 20px;
}
.in-issue {
    float: left;
    margin: 0 15px 0;
}
.item {
    background-color: #f2f2f2;
    border: 1px solid #cbcbcb;
    margin: 0 auto 15px auto;
    padding: 15px 15px 0;
    width: 528px;
}
.item h3 { color: #333 }
.item-details {
    float: left;
    margin-left: 5px;
    width: 500px;
}
.relation-list { list-style-type: none }
.tabs {
    height: 30px;
    padding-top: 10px;
    margin: 0 0 1.5em 0;
}
.tabs li {
    float: left;
    list-style: none;
    margin-right: 2px;
}
.tabs a, .tab a:visited {
    background: url(../images/bg-tab.png) right 60px;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}
.tabs a span {
    background: url(../images/bg-tab.png) left 60px;
    display: block;
    height: 30px;
    margin-right: 14px;
    padding-left: 14px;
}
.active-tab a:link, .active-tab a:visited, .active-tab a:visited, .active-tab a:hover {
    background: url(../images/bg-tab.png) right -30px no-repeat;
    color: #333;
}
.active-tab a span, .active-tab a:hover span { background: url(../images/bg-tab.png) left -30px no-repeat }
.tax-synonym {
	font-variant: small-caps;
	font-weight: bold;
}
.footer-date {
    border-top: 1px solid #666;
    margin: 40px 0 0;
}
.footer-date ul {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0 0;
}
.footer-date ul li {
    float: left;
	list-style-type: none;
	text-align: center;
	width: 33%;
}
.journal-desc-left{
    width:50%;
    float:left;
    margin:0px;
}
.journal-sign-btns{
    width:50%;
    float:right;
    margin:0px;
}
.more-link {line-height:28px;margin:0px;}
.more-container{height:28px; margin-bottom: 5px;}
/* ******************************************** */
/* RIGHT SIDEBAR */
/* ******************************************** */
#sidebar-right {
    float: left;
    margin: 0 5px 20px;
    width: 200px;
}
#sidebar-right .ad-block { margin-bottom: 15px }
.ad-block {
    border: 1px solid #6b6b6b;
    padding: 10px;
    width: 278px;
}
.ad-block div, .ad-block img, .ad-block p, .ad-block a { margin-bottom: 10px; }
.ad-block img { text-align: center; }
.ad-block p {
    color: #be1e2e;
	text-align: right;
}
#stay-current {
    background-color: #e6e7e8;
    padding-bottom: 10px;
    width: 300px;
}
#stay-current a img {
    clear: both;
    margin: 0 10px;
    text-align: center;
}
#btn-stay-posted {
    background: #bebebe url(../images/btn-stay-posted.png) top right no-repeat;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    height: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    padding: 5px 10px 5px 15px;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
}
#btn-stay-posted:hover { background: #be1e2e url(../images/btn-stay-posted.png) bottom right no-repeat }
.article-tools-top {
    background: #bebebe url(../images/tools-corner.png) top left no-repeat;
    display: block;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 300px;
}
.article-tools { margin-bottom: 10px;width: 300px}
.article-tools h3 {
    border-bottom: 1px solid #6b6b6b;
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    font-size: 12px;
    padding-top: 5px;
}
.article-tools-list {
    border-bottom: 1px solid #6b6b6b;
    border-left: 1px solid #6b6b6b;
    border-right: 1px solid #6b6b6b;
    list-style: none;
    margin: 0;
    padding: 0;
}
.article-tools-list li.last { border: none }
.article-tools-list li {
    border-bottom: 1px solid #bebebe;
    margin: 0;
    padding: 5px 0 5px 15px;
}
.article-tools-list li a {
    display: block;
    padding: 2px 0px 0 0px;
    text-decoration: none;
}
.article-tools-list li a:hover { text-decoration: underline;}
a.icon-fav			{text-indent: 23px; background: url(../images/icons-tools.png) left 0 no-repeat }
a.icon-citation		{text-indent: 23px; background: url(../images/icons-tools.png) left -30px no-repeat }
a.icon-email		{text-indent: 23px; background: url(../images/icons-tools.png) left -60px no-repeat }
a.icon-permalink	{text-indent: 23px; background: url(../images/icons-tools.png) left -90px no-repeat }
a.icon-reprints		{text-indent: 23px; background: url(../images/icons-tools.png) left -120px no-repeat }
a.icon-rights		{text-indent: 23px; background: url(../images/icons-tools.png) left -150px no-repeat }
a.icon-alerts		{text-indent: 23px; background: url(../images/icons-tools.png) left -180px no-repeat }
a.icon-adobe       {text-indent: 23px; background: url(../images/Adobe_reader.png) no-repeat }
a.icon-googleBooks  {text-indent: 23px; background: url(https://www.google.com/tools/toolbar/buttons/icon?xmlurl=http://www.google.com) no-repeat}

#social-media {
    list-style: none;
    padding: 0;
    width: 300px;
}
#social-media li.last { border: none }
#social-media li {
    border-bottom: 1px solid #bebebe;
    margin: 0;
    padding: 5px 0 5px 15px;
}
#social-media li a {
    display: block;
    height: 13px;
    padding: 2px 10px 0 23px;
    text-decoration: none;
}
#social-media li a:hover { text-decoration: underline }
a.icon-citeulike	{ background: url(../images/icons-social.png) left 0 no-repeat }
a.icon-delicious	{ background: url(../images/icons-social.png) left -30px no-repeat }
a.icon-digg			{ background: url(../images/icons-social.png) left -60px no-repeat }
a.icon-facebook		{ background: url(../images/icons-social.png) left -90px no-repeat }
a.icon-newsvine		{ background: url(../images/icons-social.png) left -120px no-repeat }
a.icon-tweet		{ background: url(../images/icons-social.png) left -150px no-repeat }
#sidebar-right .instLogo {
    text-align: center;
    margin-bottom: 10px;
}
.sectionsSelect { float: right; max-width: 20em }
.book .box-gray-border{width: 180px;}
.book .abstract{
    margin-top:1em;
}
.bookInfo{
    font-size:12px;
}
dt,dd{
    min-height:15px;
}
.bookInfo dt {
   clear: left;
   float: left;
   font-weight: bold;
   margin-right: 3px;
   padding-right: 2px;
}
.bookInfo dt:after {
    content: ':';
}
.bookSeries .browsePubs{
    margin-top: 20px;
}
.bookSeries li.publicationItem{
    clear: both;
}
.book img.pubCoverImg{
    float: left;
    width: 80px;
    border: 1px solid black;
    margin: 0 10px 10px 0;
}
li.publicationItem p{
    font-weight: normal;
    color: black;
}
li.publicationItem .bookSeriesTitle{
    font-style:italic;
}
.bookList .allLink{
    float: right;
    margin-right: 1.5em;
}
.bookList .letterLink a{
    text-transform: none;
    color:white;
    text-decoration:none;
}
.bookList .letterLink a.disabled, .bookList .letterLink:hover{
    cursor:default;
}
.bookList .alphabetLinksWrapper{
    clear: right;
}
.bookList .alphabetLinksWrapper .active{
    background-color: #6B6B6B;
}
.publicationItem p{
    margin:0;
}
/* ******************************************** */
/* FOOTER */
/* ******************************************** */
#footer {
    background-color: #6b6b6b;
    clear: both;
    height: 60px;
    margin: 0 auto;
    width: 1102px;
}
#footer img {
    float: right;
    margin: -29px 20px 0 0;
}
#footer p {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 28px;
    text-align: center;
}
.browsePubs {
    list-style-type: none;
    padding-left: 2px;
    margin-bottom: 30px;
}
.browsePubs .publicationItem {
    overflow:hidden;
    color: #be1e2e;
    font-weight: bold;
    font-size: 12px;
}
.emptyList { color: #be1e2e; }
/* ******************************************** */
/* ADVANCED SEARCH */
/* ******************************************** */
.searchInputLine { margin: 10px 5px; }
.searchInputLine label {
    display: block;
    margin-bottom: 5px;
}
.searchInputLine input { width: 300px; }
label.stemming, label.issuetypefield { display: inline; }
#stemming, #issuetypefield { width: 15px; }
.advSearchPubList { margin-left: 10px; }
.publications { overflow: hidden; }
.publications .pubsFirstCol {    
    float: left;
    width: 47%;
}
.publications .pubsSecondCol {
    float: right;
    width: 48%;
}
.inputPub  {
    line-height: 15px;
    overflow: hidden;
}
.inputPub input {
    float: left;
    clear: both;
}
.dateRange { width: 220px; }
.dateRange fieldset { margin: 10px; }
.rangeLabel { float: left; }
.dateRange select { float: right; }
.searchForm, .searchResultsBox {
    margin-left: 5px;
    font-size: 12px;
}
.searchResultsBox { margin-right: 5px; }
.searchResultsBox .results {
    padding: 5px;
    border: 1px solid #E6E7E8;
}
.paginationInfo {
    margin: 10px 15px 0 0;
    overflow: hidden;
}
.resultsPerPage { float: right; }
.sortByResutls {
    margin-left: 10px;
    float: left;
}
.nowShowing {
    float: left;
    margin: 4px 0 0 10px;
}
.pagination { margin-left: 15px; }
.searchForm .advSearchFields, #searchSaved {
    padding: 5px;
    background-color: #E6E7E8;
}
#searchSaved { overflow: hidden; }
#searchSaved textarea { height: 50px; }
#searchSavedQuery, #searchSaved textarea {
    width: 250px;
    margin-bottom: 20px;
}
.searchSubmit { float: right; }
#searchSavedConfirm { margin: 10px 0; }
.advSearchTitle { margin-bottom: 20px; }
#advSearchSub .submit { float: right;}
#layoutWrapper {
    width: 990px;
    overflow: hidden;
}
#leftContent, #rightContent { float: left; }
#leftContent {    
    width: 350px;
    margin-right: 5px;
}
#rightContent {
    width: 630px;
    margin-left: 5px;
}
.advSearchFields h3, #searchSaved h3 { color: #BE1E2E; }
.abstractAndAccess, .authors { overflow: hidden; }
#sidebar-left ul > li > a {
    background: #3E3C3D url(../images/corner.png) no-repeat 100% 100%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 12px 15px 8px;
}
.toc .header-bar { margin-bottom: 15px; }
.keywordsLabel { font-weight: bold; }
.NLM_author-notes {
    margin-bottom: 10px;
    font-size: 12px;
}
/* ecommerce */
#content .eccomArtReq td.sectionTitle,
#content .subscription td.sectionTitle {
    background: #3E3C3D url(../images/corner.png) bottom right no-repeat;
    color: #FFF;
    padding: 12px 15px 8px;
}

#content .eccomArtReq td.sectionTitle, #content .eccomArtReq td.body,
#content .subscription td.sectionTitle, #content .subscription td.body {
    border: none;
}

#content .eccomArtReq td.body, #content .subscription td.body { background-color: #E6E7E8; }
.subscription .sectionTitle {
    font-size: 11pt;
    font-weight: bold;
}
/* ecommerce */
.issueStyleCoverDate { font-size: 12px; }
#sidebar-left li.activeTab a,
#sidebar-left li.active a,
#sidebar-left ul.personalize-sidebar li.active > a,
#sidebar-left ul.personalize-sidebar li.subMenuTabSelected a {
    font-weight: bold;
}
/* stories pages */
.floating_covers { float: right; }
.storyContent {
    font-size: 14px;
    line-height: 1.4em;
}
.storyContent .date {
    color: #BE1E2E;
    font-size: 14px;
    margin: 5px 0;
}
.storyContent .link { margin-bottom: 10px; }
.news_story_cover {
    width: 100px;
    margin: 0 0 10px 20px;
    border: 1px solid #000;
}
/* news pages */
.newsrecent, .specialIssues { list-style-type: none; }
.newsrecent .date {
    color: #BE1E2E;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.socialMedia { margin-top: 10px; }
.publicationItem a { text-decoration: none; }
.newsrecent li {
    background-color: #F2F2F2;
    border: 1px solid #CBCBCB;
    padding: 15px 15px;
}
.ads > * { margin-top: 10px; }
.loginForm form { margin-bottom: 10px; }
.regForm .heading td, .regForm td.header4 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.regForm input[type="text"], .regForm input[type="password"] { width: 300px; }
#institutionMultiIpChange .multipIpInp { width: 100%; }
.issueTools {
    background-color: #F2F2F2;
    border: 1px solid #CBCBCB;
    width: 98%;
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
}
.issueTools a, .loiContent a {
    font-size: 12px;
    line-height: 1.6em;
}
.loiNotes p { line-height: normal; }
.noLinkLine { text-decoration:none; }
.snippFilesHeader { display: none; }
.snippedit_files { margin-top: 100px; }
.siteEditorPage #main { overflow: visible; }
/* align right only the second columns of snippEditBar*/
#snippEditBar td:first-child + td { text-align: right; }
.ipChangeHelp {
    font-size: 12px;
    line-height: 1.2em;
    margin: 0 0 15px;
}
.item-inner .accessIcon {
    padding: 3px 0 5px 10px;
    float: right;
}
.accessLegend table { margin: 0; }
.accessLegend td { padding-left: 0; }
.Publication_Title { margin-bottom: 10px; }
.aopIssue, .forthcomingIssue {
    display: block;
    margin-bottom: 2px;
}
.relations { margin-bottom: 20px; }
.relations p {
    margin: 0;
    font-weight: bold;
}
.relations ul {
    margin: 0 10px 10px 0;
    list-style-type: none;
    padding-left: 10px;
}
#recommendationForm .textInputLine,
#recommendationForm .note, .requiredNote {
    font-size: 12px;
    margin: 5px 0;
}
#recommendationForm .textInputLine label {
    float: left;
    width: 10em;
}
#recommendationForm fieldset { margin-bottom: 10px; }
#recommendationForm .reasons { margin: 20px 0; }
#recommendationForm legend {
    font-size: 14px;
    padding-bottom: 10px;
}
.buttons{margin:0; clear: right;}
#subscribeBtn { margin: 0; }
.articlesSection { padding: 15px 15px 5px 15px; }
.articlesSection p { margin:0 0 5px; }
.viewAll { padding: 5px 15px; }
.italic { font-style: italic; }
 .letterLink:hover, .prevPageLink:hover,
.pageLink:hover, .nextPageLink:hover {
    cursor: pointer;
    background-color: #6B6B6B;
}
.letterLink,.letterLinkdisabled, .pageLink,
.prevPageLink, .nextPageLink {
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4px 4px;
    background-color: #BE1E2E;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.pageLink, .prevPageLink, .nextPageLink  {
    font-size: 10px;
    margin-right: 5px;
    text-transform: capitalize;
}
.paginationLinks {
    line-height: 24px;
    margin-top: 20px;
    text-align: center;
}
.alphabetLinks { margin: 15px 10px; }
.alphabetLinks .current, .activeLink {
    background-color: #6B6B6B;
    cursor: default;
}
.noaindex {
    font-size: 14px;
    padding: 10px;
}
#searchResultsList .box-pad { margin: 0 20px; }
.multiSelectNote {
    font-size: 11px;
    font-style: italic;
}
.advSearchLandRight { margin-right: 5px; }
.loiContent .latest { text-decoration: none; }
.itemBoxesNoCkbx .item-inner input { display: none; }
.itemBoxesNoCkbx .item-details {
    width: 520px;
    margin: 0 5px;
}
.itemBoxesNoCkbx .icon-list-horizontal { width: 490px; }
#metadata_form input[type='text'] { width: 320px; }
.tableImg { padding: 50px 0; }
.tableImg img { border: 1px solid #A9A9A9; }
.caption .tableImg {
    padding: 0;
    display: inline-block;
}
.bold { font-weight: bold; }
.loupe {
    z-index: 1000;
    border: 1px solid gray;
    cursor: crosshair;
}
.searchedFor { margin: 10px; }
ul.offers {
    list-style-type: none;
    padding-left: 0;
}
.note { margin: 10px; }
.NLM_corresp { margin-bottom: 10px; }
.NLM_author-notes p.first { margin: 0 0 5px; }
.issueTools .rss-icon { vertical-align: top; }

.rssWrapper {
    width: 100%;
    overflow: hidden;
    padding-right: 10px;
    margin: 0 0 10px 0;
}

.singupBtns {
    width: auto;
    overflow: hidden;
    padding-right: 0px;
    margin: 0px;;
}

.rssLink {
    float: right;
    margin-right: 10px;
}
.journalInfo { margin: 0 0 5px 0; }
.figCaption p:first-child { margin-bottom: 0; }
#highResTable {
    float: left;
    margin: -20px 0 0 10px;
}
.graphicalAbs {
    background-color: white;
    text-align: center;
    border: 1px solid silver;
    padding: 5px;
    margin-bottom: 15px;
}
.graphicalAbs img {
    max-width: 470px;
    max-height: 270px;
}
#absHdr { text-transform: uppercase; }
.fromGoogle {
    border: 2px solid gray;
	margin: 0 0 12px 0;
	padding: 3px;
	line-height: 20px;
	font-size: 12px;
}
.NLM_disp-formula { padding: 10px 0; }
.dispFormulaLabel {
    display: inline-block;
    width: 40px;
    font-size: 12px;
    float: right;
}
.equation{
    display: block;
    margin: 1.2em;
    width: 100%;

}
.equation img{  max-width: 500px;}

.NLM_inline-graphic img, .NLM_disp-formula img { max-width: 550px; }
.citationLine { margin-top: 10px; }
.qtip p { margin-bottom: 0; }
.taxMinorHead {
    font-size: smaller;
    text-transform: uppercase;
}
.secFnTrigger { cursor: pointer; }
.footnotesSection {
    margin: 10px 0;
    padding: 5px 0;
}
.NLM_sec_level_1 .title { font-weight: bold; }
.NLM_sec_level_1 > .title, .NLM_sec_level_2 > .title { line-height: 35px; }
.listgroup { margin-left: 25px; }
.NLM_sec_level_1 > .title { font-size: 16px; }

.NLM_def-list .NLM_title, .NLM_def-list .NLM_term-head, .NLM_def-list .NLM_def-head, .NLM_def-list .NLM_term {
    font-weight: normal !important;
 }

.figCaption .title, .short-legend .title {
    font-weight: normal;
}
.NLM_sec_level_2 > .title {
    color: #396070;
    font-size: 14px;
}
.NLM_sec_level_3 > .title, .NLM_sec_level_4 > .title, .NLM_sec_level_5 > .title { font-size: 12px; }
.NLM_sec_level_3 > .title { color: #333; }
.NLM_sec_level_4 > .title { color: #666; }
.NLM_sec_level_5 > .title {
    font-style: italic;
    color: #666;
}
#firstPage { margin-bottom: 20px; }
.firstPageImage {
    max-width: 100%;
}
.absGraphicalImg img { max-width: 530px; }
.saveSearchHdr { margin-top: 10px; }
.listgroup .lilabel, .listgroup p {
    padding:0;
    margin: 0;
}
.listgroup .lilabel { width: 10px; }
.subarticleHdr {
    border-top: 1px solid silver;
    padding-top: 3px;
    margin-bottom: 2px;
}
named-content { padding-right: 5px; }
.NLM_term { width: 75%; }
.error { color: red; }
.peerReviewed {
    padding-left: 10px;
    margin-top: 10px;
}
.addressLink {
    text-decoration: underline;
    cursor: pointer;
}
.ecommConf ul{
    list-style:none;
}
.none { list-style-type: none; }
.disc { list-style-type: disc; }
.square { list-style-type: square; }
.arabic { list-style-type: decimal; }
.lower-alpha { list-style-type: lower-alpha; }
.upper-alpha { list-style-type: upper-alpha; }
.lower-roman { list-style-type: lower-roman; }
.upper-roman { list-style-type: upper-roman; }
.tableImg table { width: 250px; margin-left: 120px; }
.symbol-list .NLM_term { width: auto; }
.subArticleAuthors { margin-bottom: 3px; }

a.inLineIcon{
    padding-left:19px;
}

.letterLink:hover span.disabled{
    cursor:default;
    background-color: #BE1E2E;
}

.letterLink:hover a.enabled {
    cursor: pointer;
    background-color: #6B6B6B;
}

.letterLinkdisabled :hover {
    cursor:default;
    background-color: #BE1E2E;

}

.sightedHidden {
     display: none;
}

ul.fnList{
    list-style-type:none;
}

select#doi{
    width:500px;
}

#mobileDevicePairing_login form{
    width:47%;
    float:left;
    margin: 1em 0;
}

#mobileDevicePairing_login .personLogin{
    margin-right:5%;
    font-size:12px;
}

#mobileDevicePairing_login .emailLogin{
    font-size:12px;
}

#mobileDevicePairing_login .login_link{
    margin:10px 0 10px 0;
    display: inline-block;
}

#mobileDevicePairing_login label{
    float:left;
    width:13em;
}

#mobileDevicePairing_login .field{
    clear:left;
    margin: 0.25em 0;
}
.ads {
    width: 300px;
}

/*For citation alerts HTML*/
.alertBColor {
    background-color: #4f4f4f;
}
.alertTitle {
  font-size:19px;color:#990000;font-weight:bold;font-family:Arial, Helvetica, sans-serif;
}
.alertTitle2 {
  font-size:19px;color:dimgray;font-family:Arial, Helvetica, sans-serif
}
.alertJournalTitle {
    font-family:Georgia, 'Times New Roman', Times, serif;font-size:22px;color:black;font-weight:bold
}

.transTitle{
    font-weight: normal;
    font-size: 90%;
}

div.transTitle{
    line-height: 1.5;
}

#content td.NLM_term {
    width: 5%;
}

.epubDate {
    margin-bottom: 5px;
}

.articleHistory {
    font-size: 11px;
}
.articleEntryTitle{
    padding-bottom: 15px;
}
select.frequency{
    margin-top: -1px;
}

.authoredServices h1, .authoredServices h2, .authoredServices h3, .authoredServices h4, .authoredServices h5 {
    margin: 0;
    color: #000000;
}

.authoredServices {
    display: block;
    border: 1px solid #486CA6;
    margin-bottom: 10px;
    padding: 10px;
    font: 12px/21px Arial,sans-serif;
}

.authoredServices #pubTitle {
    font-size: 14px;
    font-weight: bold;
}

.authoredServices .author {
    font-style: italic;
}

.authoredServices #showIssuesId {
    font-style: italic;
}

.authoredServices .links {
    clear: both;
    display: block;
    margin-left: 0px;
}

.authoredServices, .share, .history {
    padding-top: 20px;
}

.authoredServices .eprints {
    margin-top: 5px;
}

.authoredServices .links a {
    float: left;
    display: block;
    margin-right: 5px;
    font-weight: bold;
}

.authoredServices .links ul li {
    display: inline;
    float: left;
    padding-right: 5px;
    color: #000;
}

.authoredServices .links ul li:after {
    content: "|";
}

.authoredServices .links li:last-child:after {
    content: "";
}

.authoredServices ul li {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
}

.authoredServices .links ul {
    margin: 0px;
    padding: 0px;
}

.authoredServices .links {
    clear: both;
    display: block;
    margin-left: 0px;
}
span.single_highlight_class{
    background-color:  rgb(255, 255, 0);
    padding:2px;
}

.NLM_list-list_type-none {
    list-style-type:none;
}

.NLM_list-list_type-disc {
    list-style-type:disc;
}

.NLM_list-list_type-square {
    list-style-type:square;
}

.NLM_list-list_type-arabic {
    list-style-type:decimal;
}

.NLM_list-list_type-lower-alpha {
    list-style-type:lower-alpha;
}

.NLM_list-list_type-upper-alpha {
    list-style-type:upper-alpha;
}

.NLM_list-list_type-lower-roman {
    list-style-type:lower-roman;
}

.NLM_list-list_type-upper-roman {
    list-style-type:upper-roman;
}

.stories-summary-form {
    width:870px;
}

.red-font-color{
    color: red;
}
.hidden-div{
    visibility: hidden;
}

table.formula td img{
    max-width: 500px;
}